[2019-08-01 13:13] elieobeid7 commented on #187
I'm trying to use a booking module, it comes with its own payment configuration, so in other words, for the price of using a booking module, the developer forced me to use his payment system, and if I want to add mpgs I have to pay him.

That's what's pissing me off, and that's why I want the payment gateway to be standardized, so that a booking system module won't be able to bypass Magento's chec

[2019-08-01 13:29] cjnewbs commented on #187
This is not blackmail. Unless I'm very much mistaken the extension you _chose_ to use does not contain the functionality you require. _Perhaps_ a simpler solution would be to find a payment module that actually fulfils your requirements before purchasing it.

Yes, this is always a risk. You should _always_ audit any 3rd party code you use.

Magento is an incredibly flexible framework/application a

[2019-08-01 14:10] elieobeid7 commented on #187
If you should audit every extension, that'd be a huge waste of time, besides vendors don't give you the code before the purchase. If you want to purchase and then audit, first of all, your money is gone, secondly, I have 43 plugins, it's faster to write my own store from scratch.

Each plugin costs at least $100, the average is $400, it'd be better to force these vendors to submit the code to mage

[2019-08-01 22:06] TimQSO commented on #66
No update on this one?

[2019-08-02 08:48] MellenIO commented on #187
If you believe that auditing a third party extension from a (potentially) reputable provider will take more time than writing your own tested, compatible module then that is what you should be doing.

No they don't; it is their property.

Most vendors also sell via the Magento Marketplace (marketplace.magento.com) see [here](https://marketplace.magento.com/catalogsearch/result/?q=amasty) & [here](

[2019-08-02 10:01] Styopchik opened #188 "Change "Add to cart" button text on product list if product has required options"
If product has required options, it sill displays **"Add to cart"** text on button, But when customer press the button, magento redirects him to product page with message **"The product's required option(s) weren't entered. Make sure the options are entered and try again."**. And it's a little bit confusing.
It would be better also to change button text to **"Configure"**, or something like this.

[2019-08-02 12:08] elieobeid7 commented on #187
Because the extension developer does not respect the official magento payment gateway endpoint, which is my request in this question all along, pick an endpoint, for example `example.com/checkout` which all users must go to when they want to buy something and it should belong to magento.

I said, by bypassing the default endpoint, an extension is able to force to pay for something that is free and

[2019-08-05 09:51] gregordonsky opened #189 "[Feature] API for product option swatches"
There is no API method to get swatches data in table eav_attribute_option_swatch .
Currently is possible to get only label and value of options, but it's not possible to get type, image or color code.

[Reference for alternative solution](https://magento.stackexchange.com/questions/214944/how-can-i-get-the-hex-code-in-visual-swatch-via-rest-api/)

[2019-08-06 15:05] TomashKhamlai opened #227 "Add frontend_labels|default_frontend_label (attribute name) to type CustomAttributeMetadata.items"
### Preconditions (*)

Currently, it is not possible to show the name of the attribute.

Add `label: String` to `type Attribute` to extend existing schema:

#### Proposed schema
[code]

Merchant can set this information in
![image](https://user-images.githubusercontent.com/11827230/62550626-3915f180-b873-11e9-9ddd-ffba146fe9e3.png)

It is visible in the Layered Navigation, on the Product Page and

[2019-08-13 08:55] BarryBadpak commented on #133
This has already been added in https://github.com/magento/magento2/commit/734a43f3ac1a684c60e665009cb5aa7f55d29cf3 and released in 2.3.2

[2019-08-13 09:31] tzyganu commented on #133
@BarryBadpak 2.5h before I posted this. :+1: Someone can see the future. Nice

[2019-08-16 04:14] adarshkhatri commented on #208
Looks it's still not fixed in 2.3.0 version.

In my case, I created new config item and generated the products, then it threw an error (might be third party extension related) and didn't link child products. However, the config item and child products were saved.

Now, there is no way to manually select those child products for the parent Config Item (which has no child products currently).

[2019-08-16 06:31] sunilit42 commented on #208
we implement some functionality
https://www.screencast.com/t/Jkkyue3IB

do you want to push into default magento?

@engcom-Alfa  @engcom-backlog-nazar @magento-admin

[2019-08-20 10:07] melvinio commented on #208
@sunilit42 Would this be available for others? I'm interested in this solution. Thanks

[2019-08-22 22:28] LiamKarlMitchell opened #190 "ConsoleOutputHandler should tell you the entry.message when it errors."
### Summary (*)
Magento 2.3

The message on the entry could have useful information to help fix the mistake made when developing a component.

Currently it gives

```[ERROR] Failed to load the "Blah_Blah/js/view/somecomponent" component. ```

### Examples (*)
But the entry.message actually contains helpful information that could lead to the cause of the problem.
[code]

### Proposed solution
[code

[2019-08-23 15:32] psdevhh opened #198 "Inconsistent capitalization in the comment part to ID type columns in the db_schema.xml configuration files"
### Summary (*)
I've noticed that a lot of the db_schema.xml files in various modules have naming inconsistencies, specifically with the capitalization in the comments to ID column types.

### Examples (*)
For example, in the comment part `comment="Entity ID"`  both letters of the word `ID` are capitalized in this file:

app/code/Magento/Customer/etc/db_schema.xml:11

`<column xsi:type="int" name=

[2019-08-23 17:21] sdzhepa commented on #190
Hello @LiamKarlMitchell

Thank you for feedback and proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-08-28 16:47] tylers-username opened #209 "InstallSchema likes Vendor\Namespace but does not like Vendor\Name\Space"
### Environment

Magento 2.2

### Summary (*)
First, I chose not to report this as a bug because it could just be me not following PSR-4 best practices. So, let's communicate about it first.

When Magento checks for InstallSchema it does not honor the composer-configured PSR-4 root.

### Examples (*)

- If I set my composer.json to the config below, it is honored by Composer and Magento. However,

[2019-08-28 16:50] tylers-username commented on #209
I understand my want for assigning a root namespace for my package such as `Vendor\Name\Space` is rare and, for my use-case, I only intend on having a few packages modeled this way. So, is this worth bug reporting over or is this expected behavior based on PSR-4 best practices?

[2019-08-28 21:50] sdzhepa commented on #191
Based on the discussion in the thread and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-08-29 05:21] adarshkhatri opened #192 "[Feature] Same UI Component Columns for grids"
Would love to have the ability to use same UI for the grids.
Let me explain it better if I could:

For example:
Grid 1: All orders paid by "paypal"
Grid 2: All Orders paid by "banktransfer"

Since these both grids are getting data from same table, would be wise to use the same UI (same columns) but different data sources. This would help to reduce the copy and paste task.

[2019-08-29 14:26] engcom-Charlie commented on #209
Hello @sdzhepa
This issue looks like a feature request.
Please transfer this issue to community features repository.

[2019-09-02 14:49] gibbotronic opened #193 "RESTful API: No way to discover attribute set / group / attribute information"
Using the RESTful interface, there is no way to interrogate an attribute set to see which attributes are assigned to it by group.

This means I have no way of knowing whether an attribute should be assigned to an attribute set, so I must blindly and dumbly assign all my attributes to their respective attribute sets and groups every time I want to interact with them, as I have absolutely no way of

[2019-09-02 16:57] gibbotronic opened #194 "Save failures return vague messages (exception swallowing)"
Save failure exceptions are swallowed/hidden, leaving the poor end-user completely baffled as to why something is failing. The helpful exception message should be shown so that we know how to resolve it.
### Preconditions (*)

1. Magento 2.3.2
2. A configurable product with options assigned (therefore requiring a child product too)

### Steps to reproduce (*)

1. Discover the options related to yo

[2019-09-02 17:00] gibbotronic commented on #194
Yes this occurs on vanilla 2.3.2, honestly.

[2019-09-03 08:31] engcom-Charlie commented on #194
Hello @gibbotronic
I can't reproduce this issue on fresh Magento 2.3-develop.
**Manual testing scenario:**

1. Create configurable product with options assigned and with child item
2. Discover the options related to your product already, eg. a GET from
http://magento2.loc/rest/V1/configurable-products/testconf2/options/all rerurns:
![image](https://user-images.githubusercontent.com/51680850/641566

[2019-09-03 08:41] gibbotronic commented on #194
Please do not close this bug report!

You can clearly see from the code I mentioned in the report (app/code/Magento/ConfigurableProduct/Model/OptionRepository.php) that the exception handler is swallowing the exception thrown lower down.
You can also clearly see this in the list of files I have included where this also happens. Respectfully, did you not look at the file I referenced??

This report

[2019-09-03 08:54] engcom-Charlie commented on #194
@gibbotronic it looks like a feature request. So i think we need to transfer this issue to feature requests repository.
@sdzhepa can you help with it?

[2019-09-03 08:57] engcom-Charlie commented on #193
This issue looks like a feature request.
@sdzhepa can you transfer this issue to the feature requests repository?

[2019-09-03 09:01] gibbotronic commented on #194
@engcom-Charlie ok thanks. If this can get resolved somehow I would appreciate it because I think the messages should be more helpful and indicative of the underlying problem instead of the vague "it didn't work" messages.
Someone else had this problem (https://magento.stackexchange.com/q/267855) but it is not clear if this is on 2.3.2 or 2.3.1.

I will try to write a series of curl requests at so

[2019-09-03 09:08] gibbotronic commented on #193
Thanks for adding this as a feature request - much appreciated. At the moment there is no way to get this data out of Magento via the API.

[2019-09-03 12:56] priti2jcommerce commented on #193
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-03 12:56] magento-engcom-team commented on #193
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-03 12:56] magento-engcom-team commented on #193
Hi @priti2jcommerce, here is your [Magento instance](https://i-24413-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24413-2-3-develop.instances.magento-community.engineering/admin](https://i-24413-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-03 18:01] sdzhepa commented on #193
Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-09-03 18:02] sdzhepa commented on #194
Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-09-04 03:52] adarshkhatri opened #197 "Loading abandoned quote problem when product is deleted."
I don't think this is a bug. But something that is troubling me.

### Summary (*)
I am developing an extension to load and do some business logic with an old abandoned quote. When loading some of the quotes it gives me an exception, `The product that was requested doesn't exist. Verify the product and try again`. I know this is due to product in that cart is deleted already.

I see that calling th

[2019-09-04 06:11] engcom-Charlie commented on #197
Hi @sdzhepa
This issue looks like a feature request.
Can you transfer this issue to the feature request repository?

[2019-09-04 08:27] JoostWan opened #204 "Duplicate product issues with different values for stores"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Clean install Magento 2.3.2
2. Add a new storeview to the default website (For example a German store view "DE")
3. Create a product
4. Change the name of the product and the url_key in store view DE
5. Save the product
6. Open the product again in default storeview view, to see all default values.
7. Save and duplicate the pr

[2019-09-04 15:10] magento-engcom-team commented on #204
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19858` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-07 06:11] ghost commented on #204
@magento i am working on it.

[2019-09-08 23:45] adarshkhatri opened #195 "Price update as qty updates in product view page"
Would love to have this feature.
So when qty is updated on the product view page, display price should be updated too.

I want this feature, especially on the product having `min qty`, is more than 1.

And of course, having `enable/disable` from config for this feature.

[2019-09-11 07:36] khuenqdev commented on #31
Hello, is there any update regarding this issue? Adding multiple items to cart is a good feature to have :)

[2019-09-12 12:32] aepod opened #196 "GraphQL Expose Attribute Set as Filterable/Viewable"
Most sites use Attribute Set to identify the general product type, such as if it is a shoe or a shirt etc. Currently the GraphQL interface only uses attribute set as a validator when writing.

Ideally you would be able to use Attribute Set as a filter, and also get this information in queries. This would allow for filters by product type.

I almost thought this was a bug, as this is a very core be

[2019-09-16 08:21] engcom-Charlie commented on #198
Hello @sdzhepa !
This issue looks like a feature request.
Could you transfer this issue to the feature requests repository?

[2019-09-17 15:48] facetimer commented on #204
Hello,
I am not able apply this patch. I have version 2.3.2 but it seems that the files are slightly different ... or maybe I'm not doing well.

@webkul-paul  how does it apply your patches successfully ?
it is not the first time that i applied a patch.. But here i am stuck!

Thank you

[2019-09-17 18:33] sdzhepa commented on #197
Hello @adarshkhatri

Thank you for feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-09-17 18:42] sdzhepa commented on #198
Hello @psdevhh

Thank you for feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-09-20 11:35] sindrepm opened #213 "Support setting SSLVerification parameter in Elasticsearch config"
### Description (*)
I am using Elasticsearch operator on Kubernetes (https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html) which enables auth and SSL by default with self-signed certificate. Currently I see no way to use Magento Elasticsearch implementation with self-signed certificates because the curl request fails.

The Elasticsearch PHP client already supports setting a parameter "S

[2019-09-30 13:58] extremeskillz opened #199 "Feature Request: Support ElasticSearch 7.3 for Magento2.3.2"
Hi All,
I was asked to put this here as I'm running the latest Magento2.3.2. Issue currently is I wanted to install a better search engine so I installed elasticsearch 7.3 from repo on ubuntu 16.04. ElasticSearch is currently on the latest and greatest 7.3. This isn't supported currently, only version 6. ES6x introduces its own issues as we plan to upgrade to Ubuntu 18.04 with our regular updates

[2019-10-02 11:38] eurobeautiful opened #200 "Backorders fulfillment improvements"
### Description (*)
The current behavior of Magento 2.3.1 when it comes to fulfilling backorders doesn't allow for efficient fulfillment, even less for scaling.

There are two areas of improvement.

1) When an order is received that contains products that are entirely or partially out of stock, it is very easy for the operator to attempt to ship the order including all products ordered. Magento th

[2019-10-02 12:55] extremeskillz commented on #199
As of today elasticsearch 7.4 was released. This is just an update.

[2019-10-04 10:44] Hexmage opened #203 "Magento_Rss and Magento_Wishlist can't be disabled."
### Summary

The Magento_Rss module can't be disabled because the Magento_Wishlist depends on it. Disabling the Magento_Wishlist is impossible, because Magento_Sales, Magento_Customer, Magento_Reports and Magento_Catalog all depend on the Wishlist. These dependencies feel reversed. Sales, Customer and Catalog (and to a lesser extend Reports) are the more crucial parts of Magento and should work wi

[2019-10-04 14:18] sdzhepa commented on #198
Closed, https://github.com/magento/magento2/pull/24638 has been merged

[2019-10-04 14:18] #198 closed, assigned to sdzhepa, engcom-Charlie

[2019-10-04 18:12] voronytskyi opened #201 "REST API. List products with parent/child relation (parent_sku is missing)"
**Description**
parent_sku is missing for {{baseUrl}}/V1/products API response

**Expected behavior**
parent_sku is null in case if doesn't have any parent product relation (configurable products)

**Benefits**
easy way to build parent/child relations.

**Additional information**
I aware about {{baseUrl}}/V1/configurable-products/{sku}/children API. But it`s extra request each time in order to che

[2019-10-04 20:25] engcom-Bravo commented on #203
Hello @sdzhepa.
This issue looks more like a feature request.
Will you please transfer it to the feature requests repository. Thank You.

[2019-10-07 21:01] hostep commented on #203
Slightly related issue: https://github.com/magento/magento2/issues/22084 (if that one is also considered a feature request feel free to close it as a duplicate of this one, even though it was more of a regression introduced in Magento 2.3.1 ...)

[2019-10-07 22:09] sdzhepa commented on #204
Hello @JoostWan

Thank you for feedback and your proposal!

This issue was investigated and discussed with Magento product manager and architect:
- It is by design/expected behavior (was made intentionally) and technically it is not a bug
- But it is a good UX point to be improved

So, this issue should be transferred to [Magento Feature Request](https://github.com/magento/community-features) publ

[2019-10-08 19:55] naydav commented on #173
@dcabrejas
Looks good! Can you create PR in https://github.com/magento/magento2/pulls
Thanks

[2019-10-09 07:36] VitaliyMartyschuk opened #205 "Add REST Api endpoint to Customer module"
### Description (*)
Add REST Api endpoint to Customer module, to have possibility send email from the contact form for projects which using  PWA architecture.

### Expected behavior (*)
Sending an email through Rest Api endpoint with next params - Name, Telephone, Email, Comment

### Benefits
Have the possibility to send emails from the contact page for projects with PWA architecture like Vue-stor

[2019-10-09 14:54] engcom-Charlie commented on #206
Hello @sdzhepa
This issue looks like a feature request.
Could you transfer this issue to the feature requests repository?

[2019-10-11 14:30] Luwdo commented on #181
The symphony mechanism that stops the queue actually just puts into cache a flag that the queue consumer reads that will exit after next job is finished.

https://github.com/symfony/messenger/blob/master/Command/StopWorkersCommand.php

In theory the poison pull mechanism already does this just not in the way we need.

the callback invoker checks for a change in the version
https://github.com/magen

[2019-10-11 18:20] hostep commented on #181
Thanks for the feedback @Luwdo!

The questions posed in this issue and in https://github.com/magento/community-features/issues/180 have been thrown together and put into an architectural proposal already, which you can see over here:
https://github.com/magento/architecture/pull/232/files?short_path=81c5aa0#diff-81c5aa0b55a519b20c0ffd8b3f57b21b
Problem 2 at the end might be of interest to you.

Fee

[2019-10-11 20:40] Luwdo commented on #181
Problem 2 is exactly my issue that I have been working on.

I just finished a stopgap measure for our production sites and published it here:
https://github.com/humanelement/module-advanced-message-queue-options

I do not see mention about moving the PIDs themselves to a standard folder under var
Which I found as necessary step to make sure I can keep the symlink consistant across releases and not

[2019-10-11 20:59] hostep commented on #181
Nice work!

But be aware that the pid files have been removed in the latest version of Magento (version 2.3.3), by https://github.com/magento/magento2/commit/1d9e07b218c7c8ad1f05706828cb2dd47d2d2d58, I think they are now using locking in the database to make sure no duplicated consumers spawn.

[2019-10-17 12:20] engcom-Delta commented on #207
Magento 2 doesn't have possibility to add and update only categories via import CSV
Looks like it could be marked as feature request.
cc @sdzhepa

[2019-10-17 14:13] ihor-sviziev commented on #186
@rhoerr
+1 for https://github.com/chartjs/Chart.js

Current charts are really terrible, I think no one will complain about improving existing chart and making them better and even interactive.

Would like to see such contribution from you 👍

[2019-10-18 05:02] mack4hack commented on #31
@khuenqdev the issue is opened since the long time. You need to write custom APIs for it.
One API for Logged-in customer and one for guest.

[2019-10-18 08:43] khuenqdev commented on #31
Yeah, it seems there's already a generic API for this kind of action that's actually update a quote with multiple items in it. The weird thing is the route actually refers to customer's cart/quote but you don't really need to login to use this API. Here's the API and sample request data:

[PUT] /V1/carts/mine

{
    "quote": {
        "id": {{quote_id}},
        "items": [
            {

[2019-10-19 11:00] joosttissen commented on #208
@sunilit42 Can you please share your solution? This is exactly what we need.

[2019-10-21 11:00] andparsons opened #243 "Remove braintree/braintree_php from magento/magento2-base"
### Summary (*)
`braintree/braintree_php` is required in `magento/magento2-base` when the only module that relies on that dependancy is `magento/module-braintree`, which also has `braintree/braintree_php` as a dependancy

I am not composer requiring `magento/product-community-edition` but instead `magento/magento2-base` with a subset of Magento modules, which I believe is a better practice than us

[2019-10-22 09:57] andparsons commented on #243
I confirm that I am able to reproduce the issue on vanilla Magento.
It's just composer bundle changes after all.

[2019-10-22 09:58] magento-engcom-team commented on #243
Hi @andparsons. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 09:58] magento-engcom-team commented on #243
Hi @andparsons, here is your [Magento instance](https://i-25189-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25189-2-3-develop.instances.magento-community.engineering/admin](https://i-25189-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 10:01] andparsons commented on #243
Not needed for this type of issue but that was nice and quick.

[2019-10-22 14:33] BrentRobert commented on #243
Hi @andparsons, I created a pull request as I agree with your proposal.

[2019-10-22 18:34] YevSent commented on #243
@andparsons and @BrentRobert, please, don't forget that Magento can be installed from the Git, how in this case Braintree SDK will be loaded if you remove it from the root composer json?

[2019-10-22 18:55] BrentRobert commented on #243
I kinda forgot about that, my bad

[2019-10-23 11:45] andparsons commented on #243
@joni-jones and @BrentRobert, thanks for your input guys, but as I said this is a change needed when bundling for `magento/magento2-base`, which I believe the process for that is not public.

Hopefully someone from the core team is still going to look at this issue.

[2019-10-25 07:45] engcom-Delta commented on #213
Sounds like it is a useful feature for configure secure elasticsearch with self-signed certificate
Marked as **Feature Request**
cc @sdzhepa

[2019-10-25 19:28] DominicWatts opened #210 "Magento 2.1.7 : Impossible to get UK friendly retail prices"
### Preconditions
Magento 2.1.7. Impossible to get friendly retail prices in UK.  This was an issue for many of our stores in Magento 1 and we had to update core code to work around this issue.  Please I would like to know thoughts on the following issue.

### Steps to reproduce
1. Create Tax Rule - VAT, Retail Customer, Taxable Goods, VAT, 0, 0, 0
2. Create Tax Zone - VAT, United Kingdom, *, *, 2

[2019-10-28 08:26] engcom-Delta commented on #243
There is definitely no possibility to make pull request for this from the public GitHub repo.
Marked as **Feature Request**
cc @sdzhepa

[2019-10-28 09:55] hostep commented on #243
@sdzhepa: can we somehow open up the script/repo to the public for the magento2-base package and/or composer metapackage? There are a bunch of tiny little tweaks the community wants to accomplish (https://github.com/magento/magento2/issues/22359 comes to mind and there are some others I think). These aren't very high priority. But if the community can not help out, it will probably never happen if

[2019-10-30 10:14] kirtinariya1 commented on #30
Hello,

Any update on this we can't able to add extension attributes `Magento\Catalog\Api\Data\ProductCustomOptionValuesInterface`

[2019-11-06 21:11] hostep commented on #154
If somebody's interested, here's some open source module I've been working on for a while which implements most of the checks mentioned above: https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker
It's still experimental, performance isn't very good, but it has already proven its worthy with a couple of our clients.

[2019-11-06 23:38] PivitParkour94 opened #215 "Clear UI Bookmark as Cache Type"
It was hinting to in #4620 but because it isn't a specific issue related to the `ui_bookmark` not being cleared, I thought it might be worth creating an issue here. Thinking about it a little more, it seems like it might be more appropriate to be raised as a feature request to have a custom cache type for the ui_bookmarks. We could even go so far as to have a grid where admin users can remove spec

[2019-11-08 13:31] matutetandil opened #216 "Change variables and functions scope from private to protected"
This involves any Magento 2 version.

I know that there is a desition made based on design to have all variables and methods within core classes to be private (I already read a ticket related). This is great if you don't need to override a class and just adding after or before plugins. But sometimes, when you need to override the hole method (even when you use around) or add some new functionality

[2019-11-13 19:56] sdzhepa commented on #61
PRs to fix https://github.com/magento/magento2/issues/13561
- https://github.com/magento/magento2/pull/25398
- https://github.com/magento/magento2/pull/18075

have been merged into develop branch.

[2019-11-13 19:56] #61 closed, assigned to nobody

[2019-11-18 11:02] maxserv-woostelbos opened #217 "XSD regex modification"
### Description (*)
Hi,

We are using a theme framework that allows an '@' in html classes. Magento aparanty does not like this accoring to the file 'vendor/magento/framework/View/Layout/etc/elements.xsd'

`<xs:simpleType name="htmlClassType">
        <xs:restriction base="xs:string">

            <xs:pattern value="[a-zA-Z][a-zA-Z\d\-_]*(\s[a-zA-Z][a-zA-Z\d\-_]*)*"/>
        </xs:restriction>

[2019-11-19 15:24] engcom-Echo commented on #217
Hello @sdzhepa
This issue looks like a feature request.
Could you transfer this issue to the feature requests repository?

[2019-11-21 20:41] onepack commented on #61
What would be the procedure to connect to an external database on an existing install where SSL-communication is enabled.
What config settings are needed in the env.php?

[2019-11-29 02:41] Tomasz-Silpion opened #269 "Allow to set negative number for attribute position in layered navigation"
### Description (*)

As _catalog_eav_attribute_ table position is an integer, it is legal and seems completely safe to set a negative position for any attribute in layered navigation.  I would like to replace attribute position validation from _validate-digits_ to _integer_.

### Expected behavior (*)

Admin attribute edit should allow to set any positive or negative non-decimal number for positio

[2019-11-29 11:09] magento-engcom-team commented on #269
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29277` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 17:45] e3bmo3ty commented on #75
is this fixed, its too important

[2019-12-02 08:24] imrankln opened #218 "Prepare system environment more simplear and compact"
https://github.com/magento/magento2/issues/new?template=feature_request.md

### Description (*)

System requirement should be more simplified and compact. Like one Vagrantfile or docker-image should provide from Magento. Like, with one single command it will prepare environment for magento.

### Expected behavior (*)

Creating system environment for Magento installation.

### Benefits

It will sav

[2019-12-02 09:25] engcom-Charlie commented on #218
Hello @sdzhepa
Could you transfer this issue to the Feature requests repository?

[2019-12-02 14:45] lbajsarowicz commented on #218
Isn't that actually what etc/config and etc/env do?

[2019-12-02 15:35] sdzhepa commented on #218
Hello @imrankln

Thank you for feedback and your proposal!

Based on the description the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2019-12-04 14:21] Hexmage opened #219 "CatalogGraphQl Products sortable by position."
Using GraphQl it is impossible to sort the products by their category position. But this is the default sorting order in the default category implementation.
It also is the most powerful, because it allows perfect control of the order. Which all the other sorting options don't allow.

The only issue I see, is that this sorting order only works if the GraphQl query is filtered on one category.

[2019-12-06 09:03] mortenbirkelund commented on #186
+1 for changing the default chart to give a better user experience.

[2019-12-06 23:10] ankursachdeva11 opened #220 "Unable to identify dynamic price bundle product from order API"
### Steps to reproduce
1. Create two product one with dynamic pricing enable and disabled
2. Create two orders with separate items
3. check both orders via API

### Expected result
1. There should be any field in item array which will tell us bundle product is created with dynamic pricing enabled or disabled.

### Actual result
1. Unable to identify the bundle product used to create order has dyna

[2019-12-10 00:52] magento2pl opened #221 "If You add require custom options in simple product then simple product will disappear from configurable or group product"
1. PHP 7.1.8 / MYSQL 5.6.35 / APACHE
2. Magento CE 2.2

### Steps to reproduce
1. Create configurable or group product
2. Create simple product and add them to configurable product or group product
3. Edit simple product adding require custom option

### Expected result
1. Simple product will still be assigned to configurable or config

### Actual result
1. Simple will disappear from group or conf

[2019-12-10 01:16] hi-rafa opened #222 "User flow issue"
I was adding a new attribute to a configuration product and I had to leave for a while. When I came back and I keep on working my user session expired. When I clicked on the "Create New Attribute" button, the modal opened and asked me to login. After I inserted my credentials rather than allowing me to keep on working it showed me the admin home panel.

Magento ver. 2.1.9

### Steps to reproduce

[2019-12-10 02:02] georgios-2317 opened #223 "Root category url_key causes full table scans"
Having a database with approx 4K categories (anchors) and 16K products spread throughout the tree, making a url_key change on a root category causes significant delays (in hours) to update children products and re-generate URL rewrites.

In specific:

When changing the URL key of a root category (say level 1) it will trigger a cascading regeneration of all url rewrites for all products within. Thi

[2019-12-10 10:01] kozie commented on #98
Saying it like so makes it sound like a handful of minutes to get a good preload configuration setup for Magento but i can't image it to be that simple.
Perhaps there is much to gain with the possible use of composer but i'm not convinced it's a matter of loading everything Magento has in it's base.

[2019-12-11 15:25] MyZeD opened #291 "Temporary tables as engine = MEMORY ?"
### Summary (*)
How we all know is the magento 2 shopsystem not the fastest on the market.
Every minutes is running the index or something else and creates, renames, drop temporary tables.
This is not an overkill, but use to capacity the HDD/SSD.

### Examples (*)
CREATE TABLE IF NOT EXISTS `catalogsearch_fulltext_scope2` [...]
CREATE TABLE IF NOT EXISTS `catalogsearch_fulltext_scope5` [...]
INSER

[2019-12-12 08:43] magento-engcom-team commented on #291
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-12 08:44] magento-engcom-team commented on #291
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29683` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-16 10:00] atwixfirster opened #230 "Magento does not track the amount of free shipping discount activated via coupon"
### Preconditions (*)

M2.3.3, 2.4-develop
1. Create a new cart price rule:
| Option | Value |
| Rule Information > Coupon | Specific coupon |
| Rule Information > Coupon Code | test10 |
| Rule Information > Uses per Coupon | 100 |
| Rule Information > Uses per Customer | 1 |
| Conditions > Apply the rule only if the following conditions are met | Subtotal  equals or greater than  25  |
| Actions

[2019-12-16 13:47] eduard13 commented on #230
@magento give me 2.4-develop instance

[2019-12-16 13:47] magento-engcom-team commented on #230
Hi @eduard13. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 13:48] magento-engcom-team commented on #230
Hi @eduard13, here is your [Magento instance](https://i-26062-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26062-2-4-develop.instances.magento-community.engineering/admin](https://i-26062-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 14:06] engcom-Echo commented on #230
Hello @atwixfirster

Could you provide more details for reproduce this issue?
Please add version of magento.

Thank you!

[2019-12-16 14:08] atwixfirster commented on #230
Hi, @engcom-Echo

- Magento 2.3.2
- Magento 2.3.3

Also, it's reproducible in **2.4-develop**.

**The root of issue is:** when customer redeems a coupon which give him a free shipping then the merchant does not see the amount of discount which customer got. Shipping delivery may be a different for customer ($5.00, $50.00, etc). But it's impossible to verify how much money a free shipping coupon is

[2019-12-16 14:45] engcom-Echo commented on #230
Hello @atwixfirster

Could you add a screenshot of Table Rate settings and Origin Shipping Address?

Thanks!

[2019-12-16 14:53] atwixfirster commented on #230
**My settings:** please create a CSV file with the next content:

[code]

and import it:

<img width="1414" alt="09" src="https://user-images.githubusercontent.com/13585327/70916706-cdb00d80-2024-11ea-8061-a809c5e0a9fc.png">

Thanks

[2019-12-16 15:31] magento-engcom-team commented on #230
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29802` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-17 00:07] kirmorozov commented on #98
It is simple, just get opcode loaded files `opcache_get_status(true)` list and use `opcache_compile_file($file)` to load them.
Here are some results:
https://gist.github.com/kirmorozov/979986508675c5c65a5c51e58d4fb2fa
Magento 2.3 works fine on my local 7.4 with minor core patching.

[2019-12-17 08:29] jayankaghosh commented on #230
@magento give me 2.3.3 instance

[2019-12-17 08:30] magento-engcom-team commented on #230
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-17 13:59] LouNik1984 opened #224 "Allow to remove product custom options in bulk"
Currently, when you want to remove customizable options from a product, you have to enter the product editing page, scroll down to customizable options and then remove every option one at a time. Every time you remvove an option by clicking on the trash icon, the option section has to reload. This is very slow per se, but it gets even slower when you have to remove a lot of custom options, to the

[2019-12-18 07:55] wilcovanesch opened #225 "Action Logs Report filter for Username to include all Admin Logs Report usernames"
### Location

**System** -> **Report** (under **Action Logs**)

### Problem

**Example**

1. Imagine you have 100 users making content and configuration changes.
2. These changes are logged in the Action Logs Report.
3. After a security breach, you change the usernames of those 100 users.
4. You want to see what changes a specific user account made before the breach.
5. That user account is not av

[2019-12-19 12:26] Zyles opened #228 "Webp support"
### Description (*)

Add support for webp.

Because once you go webp, you don't go back.

A PNG file of 344 KB can be compressed down to 31 KB using webp without any visual loss.

### Expected behavior (*)

Able to upload and use webp images in WYSIWYG editor.

### Benefits

1. Faster store
1. Better pagerank score
1. Better mobile experience
1. Better third world internet experience
1. Better SEO

[2019-12-19 17:29] lenaorobei commented on #211
PHPStan was added to Magento https://github.com/magento/magento2/blob/2.4-develop/composer.json#L95

[2019-12-19 17:29] #211 closed, assigned to nobody

[2019-12-19 20:21] chernenm-zz commented on #230
Hello @jayankaghosh,

Thank you for your report, you are right, currently it is not possible to verify how much money a free shipping coupon is saved for customer, but the initial idea of free shipping coupon does not imply that. I think we should not add a free shipping coupon discount as a sales discount into the coupons report, since free shipping is not a sales discount coupon it is separate m

[2020-01-02 08:37] hostep opened #229 "Consider migrating from zendframework to laminas"
Using composer on a Magento project recently started giving the following warnings:

[code]

Zendframwork now has a new name: Laminas, more info over here: https://framework.zend.com/blog/2019-04-17-announcing-laminas.html

Laminas has some documentation and tools for migrating, Magento should probably take a good look at this and see how easy we can migrate: https://getlaminas.org/blog/2019-12-31

[2020-01-02 08:45] hostep commented on #229
If the exact same versions would be used as we already use, it should probably be fine to only update the composer dependency names, because the namespace changes only happened in new versions, for example: https://github.com/laminas/laminas-http/compare/2.11.1...2.11.2

But those dependency versions would then have to be restricted in the short term, so we don't get any new versions with a new na

[2020-01-03 13:01] maikel-code commented on #75
Any Updates on that? Maybe there´s a 3rd party extension for that?

[2020-01-15 13:35] southerncomputer commented on #98
@kirmorozov care to share a link with core patching to get 7.4.1 working with magento 2.3.4?

[2020-01-15 19:30] dobooth opened #231 "Elasticsearch Admin version dropdown needs clarification"
In the Magento admin, you can choose your Elasticsearch version.
https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-config-nginx.html#configure-elasticsearch-within-magento
In the dropdown, you have a value like "6.0+".
This is not clear enough. It is supposed to mean "all of v6" but it actually means "all versions 6 and higher".
Now that Elasticsearch is up to version 7, users

[2020-01-17 13:48] phoenix-bjoern commented on #98
Can you share the list of files you've preloaded in your test @kirmorozov ?

[2020-01-23 08:29] herzog31 opened #232 "Cross-Origin Resource Sharing (CORS) support for GraphQL endpoint"
Consuming Magento GraphQL from a client-side applications (SPA, PWA) is limited because of missing CORS [0] headers. Whenever the client-side application is served from a hostname that is different from the Magento GraphQL endpoint, the browser will check for the presence of CORS headers and only if the headers are present and the consuming hostname is whitelisted the client-side application can c

[2020-01-24 06:50] KntQ opened #233 "IP range for maintenance mode"
### Description (*)

When we add Magento in maintenance mode and declare IP address exemptions it would be useful if we could add also IP address host range or netmask. This would be needed specially for IPv6.

### Expected behavior (*)

We could add for example;
bin/magento maintenance:allow-ips xxx.xxx.xxx.xxx/28   (IPv4)
bin/magento maintenance:allow-ips xxxx:xxxx:xxxx:xxxx:0:0:0:0/56   (IPv6)

[2020-01-24 20:51] Bartlomiejsz commented on #186
@rhoerr @ihor-sviziev I'm working on Chart.js solution :) (not able to assign ticket to me here)
If there are any additional features that might be part of it besides better look and interactivity would be great to know!

[2020-01-24 21:00] Bartlomiejsz commented on #186
![image](https://user-images.githubusercontent.com/9566840/73103647-d8e43c00-3ef4-11ea-8bd3-041fc3c071c9.png)

[2020-01-24 21:05] rhoerr commented on #186
Sounds good. I started an implementation but ran into other commitments, didn't get far. Looks like you have good progress!

[2020-01-24 21:07] Bartlomiejsz commented on #186
@rhoerr ohh, I didn't get from description that you were working on that also, good then that we aren't both doing same thing :)
Charts basically are working fine, I need to do some improvements, cleanup of existing classes and then the most fun part - tests 😊

[2020-01-24 22:48] Bartlomiejsz commented on #231
Hi @dobooth, isn't that already fixed by https://github.com/magento/magento2/commit/cf1b0845fd7d0c083b5f20ba2c0a495d0e9bf9ad#diff-b2e0d454e4ffd542fa96dc1b7dc225d9 ?

[2020-01-25 10:02] ihor-sviziev commented on #186
@sdzhepa could you assign @Bartlomiejsz to this issue, as I don’t have access to assign people either

[2020-01-27 11:33] engcom-Hotel commented on #233
Hello @sdzhepa
This issue looks like a feature request. Could you transfer this issue to the Feature requests repository?
Thanks for collaboration!

[2020-01-31 22:15] Zyles opened #234 "Searchable textbox in dropdown attribute"
Make the dropdown attribute searchable, just like the attribute set dropdown.

It becomes REALLY annoying when you have 100 dropdown options to select from.

This:

![image](https://user-images.githubusercontent.com/1741593/73578301-97690900-447f-11ea-97da-83855be14914.png)

To this:

![image](https://user-images.githubusercontent.com/1741593/73578281-8ae4b080-447f-11ea-9d83-81e8914fe035.png)

[2020-01-31 22:19] Zyles commented on #210
M2 should provide proper custom currency support where you can define amount of decimals, separator etc.

It is dumb that this does not exist in core. Because it causes stupid issues for us.

Prices such as 100,00 ... we don't need leading zeroes everywhere.

[2020-02-04 11:08] lbajsarowicz opened #244 "CI: Validate i18n coverage"
### Summary (*)
Currently when new PR introduces new Phrase to be translated, it's very uncommon to remember about adding the phrase to `i18n/en_US.csv`.

### Examples (*)
- https://github.com/magento/magento2/pull/26440 Even without creating new phrase, the old phrase is not covered in i18n file. What is more - even if there were such entry in CSV, contributor's change would lead to introduce new

[2020-02-04 11:09] rogyar commented on #244
+1
That's really nice to have

[2020-02-06 12:04] engcom-Hotel commented on #244
Hello @sdzhepa
This issue looks like feature request. Could you transfer this issue to the Magento Feature requests repository?

Thanks for collaboration!

[2020-02-07 03:32] Zyles opened #235 "Ability to change weight unit"
Why is the weight unit hardcoded to "kg"?

We want to use grams.

And don't tell me "you can enter anything" because it is just a visual unit.

That is incorrect when extensions rely on the fact that the weight is "kg" and nothing else.

We need a way to define the weight unit in the configurations.

[2020-02-08 06:34] jigardhaduk opened #236 "Admin side customer list: next page not jump to top"
Version: Magento 2.3.1
Admin side: Customers => All Customers
Step 1: Set 100 per page
Step 2: Scroll up to the bottom and then click on next page

Expected behavior:
The page should jump to the top

Actual result:
The page stays at the end. Admin has to scroll up manually. Please check the video which is in zip file.
[customer-list-page.zip](https://github.com/magento/community-features/files/417

[2020-02-12 06:30] Zyles opened #237 "Catalog price rule per store/store view"
Why can't you create price rules based on store/store view?

It makes no sense to run promotions on a website level only.

If you have two stores, one in different languages you may not be able to run the same promotions on both because of restrictions.

Magento 2 needs to support store and storeview level promotions.

[2020-02-12 13:41] Den4ik opened #238 "Don't trigger reload of ui listing at page load"
**Preconditions (*)**
2.3.x

**Steps to reproduce (*)**
- Open sales orders page
- Look at page source
- Page already contain items and totalRecords at ui config js

**Expected result (*)**
Don't trigger reload event and renderer listing from already available data

**Actual result (*)**
Reload event triggering and in fact we receive same data that was available at page load

[2020-02-12 19:25] dobooth commented on #231
Yes, it stems from https://github.com/magento/magento2/issues/25674

[2020-02-12 19:25] #231 closed, assigned to nobody

[2020-02-13 18:00] damienwebdev opened #239 "[FEAT] Token Revocation Call in REST API"
### Description (*)
As a user, when I log out, I want to guarantee that my token is revoked. Currently, with the REST API, there's no known way to do this.

The GraphQL api supports this:
https://devdocs.magento.com/guides/v2.3/graphql/mutations/revoke-customer-token.html

### Expected behavior (*)
I can securely revoke my authentication token.

### Benefits
Basic security improvement for customer

[2020-02-13 18:00] damienwebdev commented on #239
Moved from https://github.com/magento/magento2/issues/26859

[2020-02-13 18:01] damienwebdev opened #240 "[FEAT] Add token refresh API call to GraphQl and REST API"
## Description (*)
As a user, when I am authenticated via token, I would like to be able to refresh my token (either get a new one, or refresh the expiration on my existing token). Currently, with the REST API and GraphQl APIs, there's no known way to do this.

## Expected behavior (*)
As a developer, I can securely refresh a customer's authentication token.

## Benefits

Basic usability and secur

[2020-02-13 18:14] damienwebdev commented on #232
@herzog31 shameless self-plug... https://github.com/graycoreio/magento2-cors

[2020-02-14 12:38] cjelger opened #241 "Extend CategoryFilterInput with url_path field"
### Description (*)
The `categoryList` field introduced in 2.3.4 should be extended to support the fetching of categories by `url_path`. Typically a website would indeed have the `url_path` of the category in the URL, so it would be straightforward to be able to use this field to fetch the corresponding Magento category.

### Expected behavior (*)
`CategoryFilterInput` has an extra `url_path` fiel

[2020-02-16 16:35] sandeep570 commented on #84
@here Any news on this?? Like update please.

[2020-02-19 07:07] ihor-sviziev commented on #186
@Bartlomiejsz,
Is there any prototype? Maybe some "work in progress" pull request?

[2020-02-19 07:17] Bartlomiejsz commented on #186
@ihor-sviziev I believe I have functionality ready, so I could create some initial PR today later I think. Just as first approach I used same classes that are used by current static images chart, I removed old functionality and added new and removed few classes no longer needed. Do you think such change could be accepted for 2.4 release or I should create completely new classes and deprecate old o

[2020-02-19 08:47] ihor-sviziev commented on #186
Let’s create PR, I’ll review it and will provide you feedback

On Wed, 19 Feb 2020 at 09:17, Bartłomiej Szubert <notifications@github.com>
wrote:

[2020-02-19 10:19] Bartlomiejsz commented on #186
Done @ihor-sviziev - https://github.com/magento/magento2/pull/26923
I still see some possibility for improvements here, but please take a look and share your feedback if possible :)

[2020-02-21 12:41] robhuijben commented on #217
@sdzhepa any idea if this feature is approved on the community backlog? I can't find it on the board anymore.

[2020-02-22 11:50] ilnytskyi opened #242 "Add performance check for pull requests"
Sometimes contributors fix not only bugs but performance issues as well.
I happens that when the bug fixed the code is not that fast.
Many thing can happen e.g.
- The class loads heavy object as new dependency
- The execution result is not cached when it can be called more than once with the same parameters
- Redundant queries added
- The new plugin or event observer slows the main method executio

[2020-02-25 02:34] sdzhepa commented on #243
Hello @hostep

Unfortunately, after so long delay and multiple times raising this question internally, I did not receive a clear answer for

In general, as I understood there are a couple of difficulties and policies that do not allow us to do it.

I will move this ticket into the community-feature repository to be considering one more time there

[2020-02-25 08:14] hostep commented on #243
Thanks for trying to pursue this @sdzhepa!

[2020-02-26 15:02] tcmax76 opened #245 "Add Gift Options to Checkout Page"
As things stand, customers can only add gift options for an order (if enabled) on the cart page. The problem is, many/most customers skip right over the cart page by clicking "Proceed to Checkout" from the mini cart. The opportunity to enter a gift message and recipient should be made available on the checkout page itself.

Also, with gift options, an "Update" button should not be necessary. I men

[2020-02-26 15:21] tcmax76 opened #246 "In-Store Pickup functionality (aka Click and Collect)"
We've been wrestling with In-Store pickup ever since we migrated to Magento 2 from Magento 1 three years ago. This is a huge part of online business these days and, as such, should be an in-built functionality in Magento (I believe there was something included with Magento Shipping at one point, but since that's no longer around I assume Click and Collect isn't either?). Since it's not built in, w

[2020-02-26 15:49] zetlen commented on #239
This is very important! Magento's usual mechanism for managing login lifetime has been PHP sessions using session ID cookies. The session maintained by the frontend area is heavy, so other areas such as GraphQL do not maintain it, even after a user has logged in by supplying a bearer token. (GraphQL will _honor_ a valid Magento session, however.)

Because this session mechanism isn't available in

[2020-02-26 15:50] zetlen commented on #240
This is very important! Magento's usual mechanism for managing login lifetime has been PHP sessions using session ID cookies. The session maintained by the frontend area is heavy, so other areas such as GraphQL do not maintain it, even after a user has logged in by supplying a bearer token. (GraphQL will _honor_ a valid Magento session, however.)

Because this session mechanism isn't available in

[2020-02-27 21:05] Bartlomiejsz commented on #99
@sdzhepa could you please assign it to me? I started some work to migrate stores listing to ui component, and could include this into changes

[2020-02-28 02:16] dev-4458 opened #247 "Implement backend model of single_store_mode/enabled for the purpose of extensible"
First of not not sure about its feature or not.
**Point** - Below field should have Back-end model in `vendor\magento\module-backend\etc\adminhtml\system.xml`  so one can extend the class to address the any issue on the third-party/custom module level.

**Field** - single_store_mode/enabled

[code]

**Possible backend model**
[code]
The idea to implement `backend_model` is that any backend model e

[2020-03-03 20:52] LiamKarlMitchell opened #248 "Option to disable image cache"
pub/media/catalog/product/cache is way too large and is not needed as CDN such as cloud flare can cache the images?

Can it just serve them with the same eTag?

[2020-03-04 04:57] LiamKarlMitchell opened #249 "Feature request: Content/Page content revisions."
This should be a feature...

Someone can accidentally modify part of a block/page/content (the ones stored in db) a revision history would be super helpful to preview & roll back edits.

Ability to diff and sync content between Magento sites (e.g. copies of same DB) would be helpful as well.

[2020-03-05 19:21] Zyles opened #250 "Use widgets in product description"
Why can't you insert a widget or CMS block in product descriptions?

[2020-03-06 15:05] whiskeyalpha90 commented on #119
Has there been any movement on this? It kind of hinders UK retailers.

[2020-03-06 16:56] lenaorobei opened #252 "Create static test for action controllers"
### Description (*)
Due to recent changes in https://github.com/magento/magento2/pull/26778#issuecomment-592766350 need to create static test that will check that controller classes implement `ActionInterface` and do not extend `Action` abstract class.

### Expected behavior (*)
Static check fails if controller class extends `Action`.

### Benefits
This will prevent using of deprecated `ActionInte

[2020-03-09 11:05] DanieliMi opened #251 "Configurable product: Freely choosing from selects"
### Description

When configuring a configurable product on the product page the customer has to work through the selects from top down. Given the following product:
![Configurable_Select](https://user-images.githubusercontent.com/31039652/76206723-d7e54080-61fc-11ea-8744-f39786c8dc99.png)
The customer first has to select Size, then he's able to select Color and last the Material.
The new feature

[2020-03-10 14:55] jonathan-martz commented on #62
Would be nice if somebody could do this.
I facing a Problem which i could fix with the public repo.

[2020-03-11 10:53] amenk commented on #251
Basically the feature can be forced by patching

vendor/magento/module-swatches/Block/Product/Renderer/Configurable.php::isProductHasSwatchAttribute()

See also

vendor/magento/module-swatches/Block/Product/Renderer/Configurable.php::getRendererTemplate()

But the big questions is, why two different templates are needed

[2020-03-11 11:02] DanieliMi commented on #251
If there is no reason for two different templates we should reduce it to one to stay consistent.

[2020-03-16 11:31] engcom-Bravo commented on #252
@sdzhepa Can you please transfer this _feature request_ to the appropriate repository?

Thank you in advance

[2020-03-17 06:56] rk-mxp commented on #62
Yes please provide a public repository.
I also need the composer.json files.

[2020-03-17 18:40] sdzhepa commented on #252
@lenaorobei
cc: @engcom-Bravo
Could you please clarify is it really new feature request or bug that should be fixed?

[2020-03-17 21:52] sdzhepa commented on #252
Hello @lenaorobei

Thank you for feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2020-03-22 23:58] e3bmo3ty commented on #75
iam wondering why no response here.... this is a MAJOR issue for mobile apps and third parties APIs.
how come this is still neglected till now !

[2020-03-23 09:57] omarelhamy commented on #75
Any updates here? Since its very urgent update to make

[2020-03-24 18:40] ihor-sviziev commented on #229
Hi,
This issue was already fixed by https://github.com/magento/magento2/commit/892dee45e4f80ae7df04b4ce550971e5a0453eff

[2020-03-24 19:34] Usik2203 opened #253 "Color doesn't apply to Visual Swatches by clicking on page"
### Preconditions (*)

### Steps to reproduce (*)

1.Go to Store -> Attributes -> Product -> Add New Attribute
2.Choose Visual Swatch
3.Add Swatch
4.Choose color
5. Click on the page

### Expected result (*)

We have chosen color and click on page and color was applied.

### Actual result (*)

We had to click button  on colorpicker panel. It can confuse customers
![2020-03-24 21 25 23](https://use

[2020-03-24 20:29] hostep commented on #229
Very good, let's close this one then!

[2020-03-24 20:29] #229 closed, assigned to ihor-sviziev

[2020-03-24 21:28] #186 closed, assigned to Bartlomiejsz

[2020-03-25 04:38] ajijshekh123 commented on #253
@magento give me 2.4-develop instance

[2020-03-25 04:38] magento-engcom-team commented on #253
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-25 04:39] magento-engcom-team commented on #253
Hi @ajijshekh123, here is your [Magento instance](https://i-27418-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27418-2-4-develop.instances.magento-community.engineering/admin_d34b](https://i-27418-2-4-develop.instances.magento-community.engineering/admin_d34b)
Login: `6a0f9d53` Password: `235b7a3cfccd`
Instance will be terminated in up to 3 hours.

[2020-03-25 04:56] ajijshekh123 commented on #253
Hello @Usik2203,
This is not an issue. I think this is a default pick color feature.
Please update your thought here.

Thanks.

[2020-03-25 08:33] Usik2203 commented on #253
Hello @ajijshekh123
Yes, it's  not issue , but perhaps it can be little future.
We choose color and we have to click this button for applying color.
<img width="748" alt="Screenshot 2020-03-25 at 10 25 43" src="https://user-images.githubusercontent.com/13517181/77516937-eb8ed900-6e83-11ea-812f-99fb1f2e54e6.png">

But  maybe we can add ability apply color by clicking on the page. Without clicking b

[2020-03-25 08:38] ajijshekh123 commented on #253
Okay @Usik2203 ,
Let me add Magento QA and Update it to you.

Thanks.

[2020-03-25 08:39] ajijshekh123 commented on #253
@sdzhepa - Can you please update your thought here?

[2020-03-25 11:44] VZeroCool commented on #253
@magento give me 2.4-develop instance

[2020-03-25 11:44] magento-engcom-team commented on #253
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-25 11:45] magento-engcom-team commented on #253
Hi @VZeroCool, here is your [Magento instance](https://i-27418-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27418-2-4-develop.instances.magento-community.engineering/admin_a714](https://i-27418-2-4-develop.instances.magento-community.engineering/admin_a714)
Login: `2d7c2723` Password: `ff44305a05e6`
Instance will be terminated in up to 3 hours.

[2020-03-26 14:14] sdzhepa commented on #253
Hello @aredridel

Thank you for feedback and your proposal!

Based on the description and discussion, the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the next resources:

[2020-03-26 17:50] niravkrish commented on #253
I have added this functionality.
Please review below PR.
https://github.com/magento/magento2/pull/27461

[2020-04-01 15:34] paul-blundell opened #254 "GraphQL forgot password process"
Excellent work on GraphQL, the docs are well written and its pretty straightforward to create a customer, login, add items to the cart, etc.

However, unless I've completely missed it, I can't seem to find a way to trigger a reset password email with GraphQL. I would have expected 2 mutations perhaps, one to trigger the email and then another to change the password using the token from the email.

[2020-04-04 22:54] kandy commented on #237
Magento is not support Prices on store level.
So  is no make sense to implement Catalog price rule per store/store view, before introduce price on store level

[2020-04-04 23:09] adifucan commented on #242
Hi @ilnytskyi we have performance checks for internal PR (count of DB queries, execution time of frontend and backend scenarios, graphql execution time, storefront sitespeed.io metrics, JS requests count, JS execution time, CSS metrics, API scenarios metrics etc).
But yes unfortunately currently we do not have performance checks for community PRs. As far as I know adding performance checks to comm

[2020-04-04 23:15] kandy commented on #183
Implemented  by MC-16108: [Performance] EAV attribute is not cached https://github.com/magento/magento2/commit/c69aae4aeaac06cd887b5d40116b58f0d5b728b2

[2020-04-04 23:15] #183 closed, assigned to nobody

[2020-04-06 08:40] sunilit42 commented on #208
@joosttissen @melvinio

https://github.com/magento/magento2/pull/27630

sorry for late,but you can use that solve your problem

[2020-04-06 08:44] arkreddy2005 commented on #208
Hi Sunil,

I checked same in 2.3.4 and it's not associated

Issue :

go to catalog -> Manage products -> Add New Configurable product
Select "Add Products Manually" option without creating configurable options and save product
Selected Associated products were not associated to newly created product
Expected :

go to catalog -> Manage products -> Add New Configurable product
Select "Add Products M

[2020-04-06 08:50] sunilit42 commented on #208
@arkreddy2005

have you checked with my code?

[2020-04-07 07:59] woutersamaey opened #255 "Implement a MediaFileStorageInterface to abstract media storage (file read, write, delete)"
Implement a MediaFileStorageInterface to abstract media storage (file read, write, delete).
This way it is easier to implement using files directly from cloud storage like Amazon S3 and others.

[2020-04-09 02:41] nrkapoor opened #256 "GraphQL Checkout :: Add support for Gift Wrapping / Gift Message during checkout."
As a Magento Merchant,
I would like the ability to offer my customers gift wrapping and gift messaging options during checkout 
so that 
they can send the products purchased from my business as a gift to their friends/families etc. 

 

**Acceptance Criteria**
GraphQL provides all available gift options for a store.  
GraphQL provides the option to select the gift option for each line item 
GraphQ

[2020-04-09 02:44] nrkapoor opened #257 "Single mutation for Add to Cart that supports all product types"
Right now we have 7 mutations for adding different types of products to the cart. When we started working on wishlist functionality it turned out that we will have to create 14 more mutations (adding to wishlist and moving from wishlist to cart). It leads to overcomplicated flow and does not help to improve developers' experience.

**Expected behavior**
A single mutation is used to add all types o

[2020-04-09 02:57] nrkapoor opened #258 "Customer :: MyAccount :: Wishlist Management"
As a Magento End Customer, 
I would like the ability to create multiple wishlists and add products to it
So that
I can create a personalized collection of products and save them in MyAccount for future reference. 

**Acceptance Criteria**

Wishlist functionality is only available for logged in customers. 
Wishlist functionality is only available via graphql if enabled in Magento admin. 
Customers

[2020-04-09 03:00] nrkapoor opened #259 "Customer :: MyAccount :: Reset password for MyAccount"
As a Magento End Customer,
I would like the ability to reset my account using the email associated with the account
so that 
I have the ability to log into my account by going through the password reset process in case I forget my password. 

 

**Acceptance Criteria**

- GraphQL mutation accepts an email address and triggers the password reset email. 
- If the input email is not associated with a

[2020-04-09 03:17] nrkapoor opened #260 "Catalog/Customer :: Product Compare List"
As a Magento End Customer,
I want to add one or more products to my compare list
So that 
I can compare different attributes of the products to make an informed purchase decision. 

  

**Acceptance Criteria**

- Only logged in customers can add products to compare lists.
- A customer can only create one compare list. 
- The compare list must have all product attributes configured as comparable in

[2020-04-09 03:19] nrkapoor opened #261 "Catalog/Customer :: Product Reviews"
As a Magento End Customer,
I want to read and provide reviews for the products I am considering purchasing and have already purchased respectively
So that 
I can make an informed buying decision and also provide valuable feedback to other shoppers. 

 

**Acceptance Criteria**

- Customers can create reviews for any product type 
- All reviews are returned (if requested) as part of the products qu

[2020-04-09 20:46] JosephMaxwell opened #284 "Exception handling for REST API"
### Summary (*)
I am a frequent use of APIs. However, I can't always control all elements being sent to the API. If I don't have a getter/setter for a key, I get this error:
[code]

Sample dataset:
[code]

`SwiftOtter\\Sample\\Api\\Data\\QuoteInterface` has no method named `getTest` or `setTest`.

### Examples (*)
This happens anytime a value is to be set on a class that has no getter/setter. For

[2020-04-13 14:49] andimov commented on #242
Thanks @adifucan for the answer on this feature. We are going to start working with integration of performance builds to the same ecosystem soon. It will allow us to receive triggers for the performance builds in the same way and provide the results.
We are expecting the whole functionality should be added in 2-3 months.

[2020-04-14 10:09] rvitaliy commented on #62
yes please do it!
it would be nice to be able to help remove these legacy / abandoned libraries.

[code]

[2020-04-14 10:20] rvitaliy commented on #98
Yes, but magento doesn't support php 7.4.
I opened an issue but it has been closed without any consideration. :cry:
https://github.com/magento/magento2/issues/27227

[2020-04-17 19:12] rhoerr commented on #117
Was pointed toward this. My two cents:

It's kind of a different concept. VirtualTypes don't normally take effect by the sheer means of existing. You create a VirtualType and then inject it into some other class or list. That makes me hesitate.

I guess the same concept could be extended to work for controllers though. That would just be a bigger change from what exists now.

Which is to say, one

[2020-04-20 15:40] ioweb-gr opened #262 "allow serializer to serialize / deserialize objects"
I've been digging into the code of Magento 2 in an attempt to serialize my Models for general use like
- for config data in javascript uiComponents
- for saving in the database
- for ajax requests

When it comes to JSON, currently the \Magento\Framework\Serialize\SerializerInterface is a very simple call to json_encode with an exception and nothing more.

I believe this is not enough for modern fr

[2020-04-20 21:08] thomas-kl1 commented on #262
Take a look on hydrators and data processor in the Magento framework, it should be a good start :)

[2020-04-21 10:18] ioweb-gr commented on #262
I've seen the HydratorInterface but it seems to me it's just converting the Entity Object's data to array and Adding data to an Object Entity. It's quite different to the serializer component. I thought that Hydration usually refers to how an item is retrieved from the Database Layer and converted to a Model, for example to retrieve the results as array or object or any other custom type after a D

[2020-04-21 10:31] IgorVitol commented on #262
@ioweb-gr Correct. Serializing object "as-is" is not secure comparing to serializing data. Some time ago magento models/providers were refactored to serialize data, instead of objects.

[2020-04-21 11:03] ioweb-gr commented on #262
I forgot to mention, I've already seen a few people in third party modules go through a (simplified) loop like this to send unsafe data for their ajax functions.

[code]

It would be safer imo to have a serializer component take the $items collection and serialize it securely.

[2020-04-21 11:56] IgorVitol commented on #262
@ioweb-gr It looks like you are trying to call this methods on controller (e.g. old M1 style). I would recommend you to use WebAPI instead. It will do all the serialization stuff for you based on interface (e.g. public get methods).
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/service-contracts/service-to-web-service.html

For example, you can check "estimate-shipping-methods" calls

[2020-04-21 15:20] ioweb-gr commented on #262
@IgorVitol No it was just an example for some security concerns too, from stuff I see lurking in third party modules to showcase one area where it could help.

In my particular case I wanted to render a js Component in a block and pass some initialization data to it like
- partial config from system.xml
- some products
- some further options
- some custom entity data

So in my phtml file I want to

[2020-04-22 06:52] IgorVitol commented on #262
Ah, ok, now it's clear.

Yes, you are right.

Only getter methods (which doesn't require any arguments) will be present.
Keep in mind that data is processed by data interfaces, not entity interface. Only data covered by data interface will be rendered.

**Note:** As an alternative, take a look at PWA & GraphQL implementation. This might be interesting for you.
Example: https://venia.magento.com/

[2020-04-22 09:39] ioweb-gr commented on #262
Thanks for explaining further. I really find your answer very helpful to explore more things in the framework. I haven't experimented yet with Venia but currently I'm not sure it's the best choice for our customers. Not many businesses in our country will devote the time and money for building a PWA at this period. We're usually as a country a few years back compared to more advanced countries and

[2020-04-24 06:22] sunilit42 opened #268 "search is not working properly"
### Preconditions (*)

1. latest Magento
2. create one product

### Steps to reproduce (*)

1. create one product with sku test123456
2. seach 12345

### Expected result (*)

1. It should be show that product

### Actual result (*)

1. it is not showing any product

Note : - if we search from staring of sku then work e.g test then works but not working from the middle of a word

[2020-04-24 06:22] sunilit42 commented on #268
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-24 06:22] magento-engcom-team commented on #268
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-24 06:23] magento-engcom-team commented on #268
Hi @sunilit42, here is your [Magento instance](https://i-27961-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27961-2-4-develop.instances.magento-community.engineering/admin_2498](https://i-27961-2-4-develop.instances.magento-community.engineering/admin_2498)
Login: `a3684afc` Password: `fa0d8534cb40`
Instance will be terminated in up to 3 hours.

[2020-04-24 06:26] sunilit42 commented on #268
![image](https://user-images.githubusercontent.com/2923438/80181511-a1d01480-8622-11ea-98c2-60a4b7e307d7.png)

the issue with exist Magento and confirm

[2020-04-24 06:44] magento-engcom-team commented on #268
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33712` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-25 05:36] manishgoswamig commented on #268
I  am working on this issue.

[2020-04-25 05:59] sunilit42 commented on #268
Hi @manishgoswamig
Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match.php

In this class you can find query , hope it will help to solve problem

[2020-04-28 16:09] misha-kotov commented on #268
This is a feature request, not a bug. Unfortunately this behavior is expected given current implementation.
But if you want to work on this as a new feature, feel free to proceed.

[2020-04-29 18:37] nrkapoor opened #263 "B2B Company/Company Credit feature set"
As a Magento Developer, 

I want to expose B2B company storefront functionality via GraphQL

So that customers can use a more flexible and performant API technology. 

**Acceptance Criteria**

- GraphQL exposes only storefront B2B company functionality 
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

[2020-04-29 18:43] nrkapoor opened #264 "B2B negotiable quote feature set"
As a Magento Developer,

I want to expose B2B Negotiable Quote functionality via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

- GraphQL exposes only storefront B2B negotiable quote functionality
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

Approved Schema
TBD

[2020-04-29 18:45] nrkapoor opened #265 "B2B shared catalog feature set"
As a Magento Developer,

I want to expose B2B shared catalog functionality via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

GraphQL exposes only storefront B2B shared catalog functionality
GraphQL respects user permissions for all storefront operations.
WebAPI test coverage
All builds are green

**Approved Schema**
TBD

[2020-04-29 18:49] nrkapoor opened #266 "B2B requisition list feature set"
As a Magento Developer,

I want to expose B2B requisition list functionality via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

- GraphQL exposes only storefront B2B requisition list functionality
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

**Approved Schema**
TBD

[2020-04-29 18:51] nrkapoor opened #267 "B2B Purchase order details"
As a Magento Developer,

I want to expose B2B purchase order details via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

- GraphQL exposes only storefront B2B purchase order details
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

**Approved Schema**
TBD

[2020-05-01 16:34] sdzhepa commented on #268
Hello @sunilit42

Thank you for feedback and your proposal!

Based on https://github.com/magento/magento2/issues/27961#issuecomment-620703614

I will set label `feature request` and transfer the issue into [Magento Feature Request](https://github.com/magento/community-features) public repo.

[2020-05-03 19:40] swnsma commented on #252
Hi @lenaorobei,
Could you please clarify next:
- test must works only for files related to a PR;
- test must works only for created files and ignore modified files;
Am I right?

[2020-05-04 10:35] sunilit42 commented on #268
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-05-04 19:46] naydav commented on #252
Hi @swnsma,

Sorry for the misunderstanding but the final decision about the controllers is still in active discussion. Thus, this task is not ready for development.

[2020-05-06 17:54] sdzhepa commented on #269
Hello @Tomasz-Silpion

Thank you for feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the ne

[2020-05-09 11:34] VZeroCool commented on #84
2 years in still in feature request !!

[2020-05-10 20:45] thomas-kl1 commented on #84
Magento developers will never work on these features requests until a big fish want it :/

[2020-05-18 07:24] PiscesThankIT commented on #208
I create a module and add a step to Create Configurations which will allow skipping generating configurable products and adding products manually.
See here: https://github.com/PiscesThankIT/ThankIT_ConfigurableWizard
![step-optional](https://user-images.githubusercontent.com/20181723/82185348-a8993100-991b-11ea-9c68-bfdd3523814f.png)
![step-optional2](https://user-images.githubusercontent.com/2018

[2020-05-23 14:46] thesurenk opened #270 "A shell script to install Magento and it's dependencies (Apache, PHP, MySQL)"
Would be great to have an installation script  that can install Magento along with its dependencies and configurations.

The only available free for developers (atleat what i can find) is Bitnami's [Magento stack](https://bitnami.com/stack/magento/installer). This is great but does not allow to modify and also have issues.

**Why?**
- Installing and setting up Magento is complex and sometimes frus

[2020-05-25 06:49] milindsingh opened #271 "Add data reload/refresh button in Admin UI Grid"
I have multiple places whereas an admin I need to reload the page to view the latest data.
- Admin Order Grid
- Admin Customer Grid

New UI component to refresh data only (via ajax) for the admin UI grid.
![Orders_Operations_Sales_Magento_Admin_Refresh](https://user-images.githubusercontent.com/13949703/82791658-c884a380-9e8b-11ea-925c-b8247cbf65a4.png)

[2020-05-28 10:26] Den4ik commented on #238
@magento I'm working on it

[2020-06-03 13:08] nrkapoor opened #272 "Implement the schema for PayPal PayFloPro"
As a Magento End Customer,

I would like the ability to store my Paypal (PayFloPro) payment method details in myaccount

so that 

I can expedite the future checkout process by not having to reenter the payment details.

 

+*Acceptance Criteria*+
 * During checkout customers can specify if they want to store the payment details in myaccount for future purchases.
 * Payment details are not saved i

[2020-06-04 06:30] ihor-sviziev commented on #92
Use case from https://github.com/magento/magento2/pull/18463#issuecomment-553445572

[2020-06-04 06:38] ihor-sviziev commented on #92
I think this issue should be closed with resolution "won't fix". Described detailed in https://github.com/magento/magento2/pull/18463#issuecomment-638634757

@sdzhepa could you close this issue?

[2020-06-04 20:02] damienwebdev opened #273 "[FEAT] Add "supportsRegions" property to GraphQl and REST API for countries"
## Description (*)
As a user, when shipping to a country that doesn't support regions in its address (e.g. Bermuda), I'm forced to select a region.

## Expected behavior (*)
As a developer, I can know whether or not a given country supports regions and therefore can decide to enable/disable client-side validation for the user.

## Benefits
Basic usability.

Additional information
cc: @zetlen

[2020-06-05 05:50] eduard13 commented on #258
Hi @nrkapoor, could you assign this to me, as I'm currently working on it?
Thanks.

[2020-06-05 10:29] FredericMartinez opened #274 "Admin Global Search: Search categories"
Hello :helicopter:

Global search in backend can search into products, orders, customers, pages and config sections.
But categories cannot be reached.

I think the difficulty here depends on creating URLs for category admin pages.

[2020-06-05 15:21] FredericMartinez commented on #274
@magento I am working on this

[2020-06-07 17:05] tulumc opened #275 "newsletter subscription confirmation link single time use time"
@magento I am working on this
this is my first report/feature request I hope this is correct.

I'm on Mangeto 2.3.5-p1 and working on a Customised subscription module for newsletters, and found that the confirmation link send to a newsletter subscriber can be used multiple times. I don't now if this is a Problem for most use cases, a bug, or a feature that is not implemented so I don't now if this

[2020-06-07 17:24] tulumc commented on #275
I updated my original empty comment hope this is correct

(this was my first Report and comment so I don't now if you get an alert when my original comment gets updated)

A big THANK YOU to the Magento team for the amazing work

[2020-06-16 11:57] iamsophiesk opened #276 "Add international phone number validation"
Right now, the built-in phone number validation includes the following:
* US format
* UK format
* UK (mobile) format
* Strict (validates to only US format)
* Lax (not empty, suggests US format in text)

A phone number could include any numbers, as well as the symbols `+ ( ) - #`

For example, `(+44) 1234 2553-421 #8` might be a UK number with extension 8.

It would be nice to have an international

[2020-06-17 02:32] orismology commented on #65
I cannot believe how unintuitive this is coming from Magento 1. In Magento 1, we used to just be able to use the "Quick simple product creation" to quickly add a new simple product.

This new system becomes particularly annoying when you do not have a product for each of the variations. If we have a Large Shirt in Blue and Red, and a Small Shirt in Blue and Green. Magento 2 insists on creating a L

[2020-06-17 14:11] beechyrb commented on #169
This is a must have feature!

[2020-06-24 06:03] erfanimani commented on #27
I agree to make this happen. Although the existence of this ticket is documentation in and of itself (it's the top result for searching about the refund terms).

[2020-06-24 07:10] robbertstevens commented on #27
The fact that this ticket is 3 years old, shows how much they care about fixing important issues.

[2020-06-25 10:12] seansan commented on #200
Very very important! We will add our insights and analyses here too. Currenty the backorders process is not completed in M2 (nor in M1) .... whilst with a little mind boggling we can make it perfec!

[2020-06-26 04:09] LiamKarlMitchell opened #277 "Delete all products, orders, customers etc"
Is there a n98 mage run script or some button somewhere in Magento to clean up a dev/testing site prior to going live with real data?

Yes could delete via SQL but not sure if this would work for all extensions e.g. what if they don't have FK on delete cascade?
https://magento.stackexchange.com/questions/222487/how-to-delete-all-products-in-magento-2-and-start-product-id-from-1

[2020-06-26 22:27] hostep commented on #277
We use the [stripped database dump feature](https://github.com/netz98/n98-magerun2#stripped-database-dump) of the `db:dump` command of [n98-magerun2](https://github.com/netz98/n98-magerun2) and add the `@trade` and `@stripped` groups in there, then we get a database dump without sales & customer data, it works pretty well.
Third party database entries will need some extra work though, but you can

[2020-07-02 09:19] rvitaliy opened #278 "Upgrade vendors to latest versions for magento 2.4 release"
Hi community!
I want to report current state of 2.4 vendors.
For details see https://github.com/magento/magento2/issues/28939

This work allow us to use the latest versions of vendors in our code base.
example: in my own code i want to use `monolog/monolog: v2.*` but it's incompatible with magento.
same for other vendors.

[2020-07-02 09:25] seansan opened #279 "Change Magentp Backorder Threshold when approaching 0"
### Description (*)
Assume 2 products
- Product A: MSI stock: 2 & BO Min Qty THreshold = -1 (thus salable qty = 3)
- Product B: MSI stock: 2 & BO Min Qty THreshold = 0 (thus salable qty = 2)

If we now buy 3 product A then product A goes out of stock

If we now buy 2 product B then product B _does not!_ goes out of stock

### Expected behavior (*)
There should be some way that product B goes out o

[2020-07-02 10:58] michael-bouvy opened #280 "Allow handling POSIX signals (ie. SIGTERM for graceful termination)"
ℹ️       _Copied from https://github.com/magento/magento2/issues/28870 as requested by @engcom-Lima_

### Description (*)

Magento is currently not able to handle POSIX signals, for instance `SIGTERM` that may be received from a controller (ie. within Kubernetes cluster).

Therefore, those signals can not be handled gracefully, and the process may be killed with a `SIGKILL` signal, causing an imme

[2020-07-07 11:59] thorrrr opened #281 "Ability to Reset All Filters in Orders Page"
Description (*)
We use the order screen all day and apply filters. For some reason this page does not have a reset all filters option!
But you other search areas do!
We have to click each filter individually to remove it which results in a full page refresh.
Having just moved from M1 i feel like i have gone back 10 years with the speed its painfully slow to refresh.
But if i have 3 to 5 filters th

[2020-07-07 13:23] maikel-code commented on #169
+1
Could we reuse the existing logic from the address-book for that?

[2020-07-21 12:44] seansan opened #282 "Admin Menu in M2, should hover not be enough? Why the extra click to open a menu"
### Description (*)
Admin Menu in M2, should hover not be enough to open a menu? Why the extra click to open a menu

### Expected behavior (*)
On hover open menu

### Benefits
Work faster, reduce clicks

### Additional information

![image](https://user-images.githubusercontent.com/652395/85395140-f541de80-b54f-11ea-967f-8b7bb85c6b3a.png)

[2020-07-23 08:26] Crissov opened #283 "Advanced filter searches for grids in the backend"
Similar to #111 which asks for `OR`-lists of terms, it would be useful for backend users to be able to negate (`!`. `NOT`) or logically combine (`|`, `OR`, `XOR`; `&`, `AND`) search terms in [data-table filters](https://devdocs.magento.com/guides/v2.4/pattern-library/filters/data-table-filters/filtering.html#filter-by-search).

[2020-07-30 14:54] lenaorobei commented on #252
Hi @swnsma,
Sorry for the delay.
Answering your questions.

Yes

Yes, you are right.

Thanks a lot for working on this.

[2020-07-30 20:06] swnsma commented on #252
Here we go: https://github.com/magento/magento2/pull/29339

[2020-08-02 05:10] rintoug commented on #208
This issue still exists in  Magento community ver. 2.3.5-p1 after almost 5 years since this ticket open.

[2020-08-03 19:52] imontaine opened #285 "Visual Merchandiser should accept multi-select attributes"
In Magento 1 we were able to create merchandising rules to select a value from a Multi-select attribute. But, in Magento 2 the multi-select attributes are not selectable.

It seems like Magento 2 Devs removed this feature, but I am not sure why.

Please look at the following file:
`vendor/magento/module-visual-merchandiser/Model/Config/Source/AllowedAttributes.php`

public function toOptionArray()

[2020-08-06 03:09] Ctucker9233 opened #286 "Upgrade MySql search capability for more flexible options for users"
It still seems possible to use MySQL as a search engine according to the latest MySQL documentation. The MySQL search engine should be updated so that it is still an option for users who run on servers (particularly hosted servers) that do not support Elasticsearch.

[2020-08-06 05:43] igorsKolcinsMagebit commented on #30
The issue arose back in 2017 and there is still no progress?

[2020-08-07 20:16] cherreman opened #287 "Price not saved when creating product via REST API"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Do a POST request to /products with a minimum payload to create a product.

{
  "product": {
    "sku": "test",
    "name": "test",
    "price": 12.5,
    "attribute_set_id": 4
  }
}

### Expected result

1. Product is returned with all given fields filled in.

### Actual result

1. Product is returned without the price. Saving (updat

[2020-08-07 20:16] VladimirZaets commented on #287
Need to check /products REST API documentation and update if needed

[2020-08-10 07:14] 0m3r opened #288 "Create New CLI command: create store view"
Hi, it would be cool, if someone could setup the store view using the command line. Save us a lot of clicking.
For example like [here](https://github.com/magento/magento2/pull/29408)
[code]

[code]

[2020-08-12 19:04] Ctucker9233 commented on #286
@magento-devops Any thoughts?

[2020-08-13 17:55] surelockrich opened #289 "Swatch Pre-select issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a configurable product with multiple attributes as of now we have 2 attributes. (color and size )
2. Select both attributes on a catalog page.
3. Then click on the product.
![swatch_iss](https://user-images.githubusercontent.com/25629588/75750664-b4c51780-5d4a-11ea-996e-674f5d0f3b54.JPG)

4. Then we have Re-select the s

[2020-08-14 15:12] yinzheng-zhong opened #290 "Change product status to out-of-stock when qty is less than 'Minimum Qty Allowed in Shopping Cart'"
'm running Magento 2.3.5.

Some of my products have Minimum Qty Allowed in Shopping Cart set to greater than one.

For example, product **A** has **Minimum Qty Allowed**: 7. Currently, the **QTY** of **A** is: 10. Now a customer bought 7 of **A** and now **QTY** becomes: 3. At this point the status of this item is still **In Stock**, however, customers can't add it to the cart and the error will p

[2020-08-18 20:25] sdzhepa commented on #291
Hello @MyZeD

Thank you for your feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the next r

[2020-08-18 20:36] seansan opened #295 "Add timestamp to cron logging"
Read here

https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

Cron log from these commands looks like

OUTPUT
OUTPUT

and could also look like

Tue, 18 Aug 2020 20:36:47 +0000 OUTPUT
Tue, 18 Aug 2020 20:36:47 +0000 OUTPUT

But there is no date time stamp in for example /var/log/cron.log

### Description (*)
Can add dt to echo output from ProcessCronQueueObse

[2020-08-21 14:15] amenk commented on #251
It is possible to force the swatches template by overwriting

\Magento\Swatches\Block\Product\Renderer\Configurable::getRendererTemplate

     */
    protected function getRendererTemplate()
    {
        return self::SWATCH_RENDERER_TEMPLATE;

We think the reason that there are different templates is modularity between Magento_Swatches and normal configurable module. Still it would be nice to hav

[2020-08-21 14:37] amenk commented on #251
FOSS module in the making https://github.com/iMi-digital/magento2-module-always-swatch-selects

[2020-08-25 09:21] ihor-sviziev commented on #252
https://github.com/magento/magento2/pull/26778 was already merged, so basically we have such static test.
@lenaorobei @naydav @sdzhepa could you close this issue?

[2020-08-25 13:47] lenaorobei commented on #252
@ihor-sviziev yes, sure!

Thanks again @swnsma! That's a great improvement.

[2020-08-25 13:47] #252 closed, assigned to swnsma

[2020-08-26 18:59] marcusirgens opened #292 "Proposal: Switch to PSR-7 / PSR-15 for HTTP requests to the Magento application"
TL;DR:I propose switching from Magento's request/response objects to PSR-7 objects and PSR-15 handlers.

While Magento 2 already has it's own bespoke interfaces for representing requests and responses, the PHP community has since the inception of Magento 2 created two solid standards for messaging and server interaction with requests. These are:

- [The HTTP Message Interface](https://github.com/p

[2020-08-28 10:17] sagar-magento commented on #84
@magento-engcom-team any updates on this feature??

[2020-08-28 11:14] mackieee opened #293 "ifconfig on <css> and <script> resources"
I've built a module which is a store front specific development on a Multi-store setup.
Thus only one store will require the need for the 3-4 `<css />` & `<script />` resources defined in the Module's Page Configuration files.

However this module is disabled on the other two sites with help of the `adminhtml/system.xml`, these are disabled by a custom `is_enabled` configuration.

Thus, some compo

[2020-09-02 17:34] Eddcapone opened #294 "Page Builder: Unable to add dynamic block to sliders"
### Description (*)

It is not possible to select static blocks in the page builder in the widget select menu.

1. Create new CMS site
2. Add slider
3. Edit Slide 1
4. Under Content: Message Text, click on the Button "Insert Widget..."
5. Click on the Dropdown Widget-Type and look at the list

![image](https://user-images.githubusercontent.com/16349349/91842229-faa85d00-ec53-11ea-8968-c8f21513f78c

[2020-09-03 09:39] engcom-Delta commented on #295
Should be moved to [community-features](https://github.com/magento/community-features) for further discussion
Marked as **Feature Request**
cc @sdzhepa

[2020-09-03 13:32] sdzhepa commented on #295
Hello @seansan

Thank you for your feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the next

[2020-09-04 04:33] grichards commented on #23
+1

The current implementation seems like an important flaw in the system design. I cannot effectively manage images in a multi-store site if I have any attribute overrides at the store level.

[2020-09-09 12:27] Eddcapone opened #296 "Cart item QTY is not getting updated if customer goes directly to checkout"
### Description (*)

1. Add exactly one product to cart.
2. Go to cart view.
3. Write another value in the QTY field of the item, but don't press on the "refresh cart" button.
4. Go to checkout.
5. Notice that the amount of the item is still **one**.

### Expected behavior (*)

Magento should detect the QTY change and save it before going to the checkout.

### Benefits

You don't necessarily have

[2020-09-10 04:23] magento-engcom-team commented on #296
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37572` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-10 04:24] krishprakash commented on #296
Hi @Eddcapone. Thank you for your report. It is good point to implement as per user perspective so approve this feature request.

[2020-09-10 10:39] robbie-thompson commented on #296
@magento give me 2.4-develop instance

[2020-09-10 21:16] sdzhepa commented on #296
Hello @Eddcapone

Thank you for your feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo. It should be reviewed and approved with Product Managers

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-repo

[2020-09-11 14:42] Eddcapone opened #297 "Add up/down buttons to QTY fields"
There should be an up / down button next to the QTY input field, for people like me who don't want to use the keyboard for entering or changing trivial values.

**Cart:**

![image](https://user-images.githubusercontent.com/16349349/92939018-8c327e80-f44d-11ea-9d45-a058fe06b31f.png)

Product View:

![image](https://user-images.githubusercontent.com/16349349/92939144-b6843c00-f44d-11ea-97a2-a1ec42da

[2020-09-11 14:44] Eddcapone opened #298 "Change default value in product view from 0 to 1"
It makes no sense to set the value initially to 0, set it to 1 so that customers are not forced to change it to 1 all the time.

![image](https://user-images.githubusercontent.com/16349349/92939373-fe0ac800-f44d-11ea-9fff-f4d1be8980d3.png)

[2020-09-11 14:44] Eddcapone opened #299 "Change default value in QTY field in product view to 1"
It makes no sense to set the value initially to 0, set it to 1 so that customers are not forced to change it to 1 all the time.

![image](https://user-images.githubusercontent.com/16349349/92939373-fe0ac800-f44d-11ea-9fff-f4d1be8980d3.png)

[2020-09-11 14:47] Eddcapone commented on #298
This was created twice by github (bug) so I close it.

[2020-09-11 14:47] #298 closed, assigned to nobody

[2020-09-14 12:38] #161 closed, assigned to nobody

[2020-09-16 11:22] naitsirch opened #300 "Setup option to use SSL connection for elasticsearch"
There are several elasticsearch configuration options for the `setup:install` command (see [here](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-install.html#instgde-install-cli-magento)), but there is none to specify the usage of ssl.
If elasticsearch is only available via https, this will end in a `Could not validate a connection to Elasticsearch. null ` error.

Some

[2020-09-18 12:15] madonzy opened #301 "Provide full consistency/tolerance control for MySQL operations"
Hello guys, I just wondering why this is not implemented yet, but I'm happy to provide such a feature if you find it valuable.

Bill Karwin talked about different degrees of tolerance:

- **Strict** (fetch always from master)
- **Time-based** (set max allowed lag for slave replication)
- **Event-based** (some kind of mix session consistency and read-your-writes consistency)
- **Lax** (lag time is

[2020-09-22 15:18] Bar3nho commented on #301
This can cause some problems for novice programmers because using it recklessly can easily slow down the master. In general, I find it a very good idea that will provide expected data in a smart way.

[2020-09-25 08:29] dpdesignthatfits commented on #75
This is an important feature for anyone wanting to integrate with 3rd party systems and maintain accurate pricing.

[2020-09-27 17:56] hostep opened #302 "Add support for Composer 2"
https://github.com/magento/magento-composer-installer needs to be updated to support Composer 2

According to https://github.com/composer/composer/issues/8726#issuecomment-691097291 the Magento composer plugin is the 3rd most used composer plugin not yet supporting Composer 2.

https://github.com/magento/composer-root-update-plugin/ is also not compatible yet from what I can see.

Then you'll prob

[2020-10-02 07:15] miteshdhaduk commented on #30
@magento-engcom-team Any solution for add `extension_attributes` for `ProductCustomOptionValuesInterface`? Still no solution on this issue.

[2020-10-02 08:19] mayankzalavadia commented on #30
Hello @magento-engcom-team,

Any update on this?

We are also looking for this feature. We need to add some fields to the option value.

[2020-10-02 13:07] #274 closed, assigned to FredericMartinez

[2020-10-03 11:49] ettoredn commented on #98
Any updates on this?

[2020-10-08 14:47] HenKun opened #303 "Check existence of source class in TestFramework FactoryGenerator"
Would anything speak against a check for the existence of the source class in `Magento\Framework\TestFramework\Unit\Autoloader\FactoryGenerator`?

The current code looks like:

[code]

If it would be changed to the following, there would be another degree of safety in unit tests, since it checks for the validity of a factory:

[code]

It can also prevent missspelling errors.
Currently unit tests c

[2020-10-09 00:58] #199 closed, assigned to nobody

[2020-10-13 14:49] sivaschenko commented on #299
@Eddcapone thanks for reporting. If your default Qty is 0 - it sounds more like a bug than a feature request, can you please provide the steps to reproduce.

[2020-10-13 15:06] sivaschenko commented on #294
@omiroshnichenko can you please take a look at this issue and transfer it to the page builder repository

[2020-10-14 09:55] Eddcapone commented on #299
You just have to install magento 2 and create a product then view the product in frontend. QTY will be 0.

[2020-10-14 11:34] sivaschenko commented on #284
Hi @JosephMaxwell Magento API (and codebase) are designed to work with field defined in the interface. The extension attributes functionality can be used to add and enable processing of additional fields for extensions and customizations: https://devdocs.magento.com/guides/v2.4/extension-dev-guide/extension_attributes/adding-attributes.html

Closing this issue as not a bug for now. Do not hesitate

[2020-10-14 11:34] #284 closed, assigned to nobody

[2020-10-14 11:37] sivaschenko commented on #286
@Ctucker9233 thanks for the report! Mysql is not supported as a search engine in Magento 2.4.x. So such improvement cannot be delivered the Magento development branches.

Closing this issue as not actual. Do not hesitate to contact me on slack in case of any comments/question.

[2020-10-14 11:37] #286 closed, assigned to nobody

[2020-10-14 11:56] sivaschenko commented on #281
Hi @thorrrr thanks for the report.

There is "Clear all" link that resets all the filters for order grid. The link is located in the applied filters section on the right:
![image](https://user-images.githubusercontent.com/2028541/95985469-8baa5080-0e1c-11eb-884b-0c9b61d53946.png)

Let me know if that resolves the issue

[2020-10-14 11:59] sivaschenko commented on #280
Hi @michael-bouvy thanks for the report!

Are there any sensible issues resulting from the current behaviour?
Do you have a specific proposal on how such handling should be implemented in the Magento codebase?

[2020-10-14 12:00] thorrrr commented on #281
HI

I do not see this in my version

[image: image.png]

On Wed, 14 Oct 2020 at 12:56, Sergii Ivashchenko <notifications@github.com>
wrote:

[2020-10-14 12:06] sivaschenko commented on #277
HI @LiamKarlMitchell this repository is for the feature requests to Magento 2 project.

Please reach out to slack, https://community.magento.com/ or https://magento.stackexchange.com/ for collaboration on questions resolutions and discussion (there is also much more audience that can address the question as well).

Closing this issue as it's not a feature request

[2020-10-14 12:06] #277 closed, assigned to nobody

[2020-10-14 12:31] hostep commented on #286
@sivaschenko : a client of ours is really not happy with this change.

He's currently using hosting in a high availability setup and according to the hosting company, he'll need 3 extra servers if he wants Elasticsearch to be setup in HA as well. The hosting strongly recommends against installing Elasticsearch on his existing frontend nodes because it could have a very high performance impact on t

[2020-10-14 12:51] michael-bouvy commented on #280
Hi @sivaschenko, I guess the following may be used as an inspiration: https://symfony.com/blog/new-in-symfony-5-2-console-signals

[2020-10-14 13:23] sivaschenko commented on #216
Hi @matutetandil thanks for the report! Extending the framework classes can lead to backward compatibility problems during upgrades. It is highly recommended to use aggregation instead of extending. As you've mentioned plugins can be used to extend and customize the implementation.

If there is a use case where the existing Magento extension capabilities are not applicable - this case should be re

[2020-10-14 13:23] #216 closed, assigned to nobody

[2020-10-14 13:42] thorrrr commented on #281
Can you tell me where to put the code to display it so i can pass it on to
my Dev

On Wed, 14 Oct 2020 at 12:59, Dale Holden <ebayanditsgone@gmail.com> wrote:

[2020-10-14 15:01] sivaschenko commented on #246
Thanks for the feature request @tcmax76 !

The InStore pickup functionality have been implemented as part of https://github.com/magento/inventory

Closing as done

[2020-10-14 15:01] #246 closed, assigned to nobody

[2020-10-14 17:22] sivaschenko commented on #221
The description is updated according to the comments

[2020-10-15 06:29] hostep commented on #302
@sivaschenko: [RC2](https://github.com/composer/composer/releases/tag/2.0.0-RC2) was released yesterday and they announced that the stable version is expected very soon:

So would be nice if we start looking into this and not wait on development for Magento 2.5 to start up which is probably still more then a year away ...
Or is there something in Magento which prevents us from introducing composer

[2020-10-15 14:42] sivaschenko commented on #195
@adarshkhatri thanks for the feature request! Can you please provide a bit more details on what kind of price update are you expecting when quantity is updated

[2020-10-15 22:30] thomas-kl1 commented on #195
What could.be great is to have the row subtotal price, like in the cart summary

[2020-10-15 22:47] adarshkhatri commented on #195
This is just GUI feature request.

So for example:

**Product A** has Price: $100 and **Sale Price: $60.**

Let's say the customer changes the `qty` to 3 on the product view page, then the displayed price should change accordingly,
i.e. $60 to $180 and `qty` changes back to 1, it should display $60.

This would be so handy for a customer's point of view when there is a GROUP price for the product.

[2020-10-16 14:57] sivaschenko commented on #11
The issue cannot be reproduced on the latest Magento codebase: Exported orders CSV is correctly loaded by both Excel and Numbers

[2020-10-16 14:57] #11 closed

[2020-10-16 14:59] sivaschenko commented on #13
Duplicate https://github.com/magento/community-features/issues/12

[2020-10-16 14:59] #13 closed

[2020-10-17 12:51] mrtuvn commented on #299
![Screenshot_20201017-195005.png](https://user-images.githubusercontent.com/1908873/96337519-a3f8b600-103c-11eb-88df-62549554b64f.png)
Default qty is 1 not sure why this happen in your site

[2020-10-19 02:57] manobi commented on #302
I have a lot a projects that will break with composer self updating soon (CI/CD pipelines).
Since composer 2 have a lot of improvements, I would love to have compatibility before 2.5.

[2020-10-19 08:41] hostep commented on #302
@manobi: I saw the same auto-self-update message last week. But it looks like if you update composer to 1.10.15 (last v1 version at the time of writing), it no longer outputs that auto-self-update message, so I think if you update your CI/CD pipelines to the latest v1 version, composer should not auto-update to v2

[2020-10-19 09:22] Eddcapone commented on #299
You don't appear to use a fresh shop

[2020-10-19 11:46] hostep commented on #299
@Eddcapone: I can't confirm. I've just setup a clean Magento 2.4.1 shop, created a category and product with enough stock. Visiting the product on the frontend shows the number 1 in the qty field:

<img width="1290" alt="Screenshot 2020-10-19 at 13 45 01" src="https://user-images.githubusercontent.com/85479/96446150-508b9100-1211-11eb-8add-5cdd8080fc01.png">

Have *you* already tried it in a clean

[2020-10-19 12:34] sivaschenko commented on #22
I believe the functionality failure for the specific currencies that are available in Magento is a bug rather than a feature.

Closing this feature request and reopening an original issue: https://github.com/magento/magento2/issues/10954

[2020-10-19 12:34] #22 closed

[2020-10-19 12:54] manobi commented on #302
@hostep Thank you for the tip, I'll try that!

Composer v2.0 introduced the option to pass --json argument to composer config, which would be really awesome to use applying patches:

[code]

[2020-10-19 14:24] mrtuvn commented on #299
![Screenshot from 2020-10-19 21-23-49](https://user-images.githubusercontent.com/1908873/96463976-7df82f00-1251-11eb-80cd-5729f10b37c0.png)
here is details page in luma theme with latest code base

[2020-10-19 16:52] sivaschenko commented on #28
The issue is affecting only legacy admin grids, not an issue for the UI component listings

[2020-10-19 16:58] sivaschenko commented on #35
Duplicate https://github.com/magento/community-features/issues/34

[2020-10-19 17:07] sivaschenko commented on #39
I think references to classes that do not exist in the project should lead to an exception being thrown.

I my opinion the best approach is to deliver Commerce edition related functionality in a separate module installed only for Commerce edition. This should also ensure the correct dependency between modules (and versioning i.e. when using composer).

[2020-10-19 17:07] #39 closed

[2020-10-19 19:20] sivaschenko commented on #85
Please see the discussion in https://github.com/magento/magento2/pull/13355

[2020-10-19 19:20] #85 closed, assigned to nobody

[2020-10-19 19:22] sivaschenko commented on #82
Duplicate to https://github.com/magento/community-features/issues/23

[2020-10-19 19:22] #82 closed, assigned to nobody

[2020-10-19 19:33] woutersamaey commented on #291
The MEMORY storage engine is not supported on a MySQL if GTID is enabled. So in my opinion, this feature should only be used if MySQL is configured not to use GTID. This can be dynamically queried.

[2020-10-20 12:59] Eddcapone commented on #299
Ok thank you all, then it looks like it is an old bug which they already fixed or a strange mistake. I also can't reproduce it anymore.

[2020-10-20 12:59] #299 closed, assigned to nobody

[2020-10-20 14:25] sivaschenko commented on #281
What is your version, @thorrrr ?

[2020-10-20 14:25] SolsWebdesign commented on #281
Beste meneer, mevrouw,

Van maandag 19 oktober t/m zondag 25 oktober ben ik i.v.m. de vakantieperiode minder goed bereikbaar. Uw e-mails worden wel gelezen, echter het kan zijn dat een reactie wat langer op zich laat wachten.
Voor dringende zaken kunt u bellen met +31 6 24 888 006.
vr.groeten,
Isolde

[2020-10-20 14:28] sivaschenko commented on #281
I have to close this issue as it's not applicable to the latest Magento version, that means it's already fixed.

Please consider upgrading your Magento version.

[2020-10-20 14:28] #281 closed, assigned to nobody

[2020-10-20 14:33] sivaschenko commented on #242
@ilnytskyi thanks for the feature request!

The performance tests are executed by us on each delivery to the mainline codebase. The tests are executed on the internal bulk pull request delivery stage as currently, we don't have the capacity to run it on each pull request.

[2020-10-20 14:33] #242 closed, assigned to nobody

[2020-10-21 09:04] hostep opened #304 "Add some trash can functionality for keeping deleted entities"
We often get reports from shop owners who accidentally deleted one or multiple categories/products/customers/...

There is no easy way to restore them, you have to get a database backup, find all the data you need to restore and then figure out the fastest way to get it back in their store without breaking anything and making sure id's aren't screwed up and stuff like that.

It would be great if M

[2020-10-21 13:19] sivaschenko commented on #237
The price is not supported on store/store view level in Magento, so we cannot implement promotions based on these levels

[2020-10-21 13:19] #237 closed, assigned to nobody

[2020-10-21 13:29] sivaschenko commented on #184
Moving this feature request to magento2 issues as this looks to be a performance bug that should be addressed

[2020-10-21 13:59] #133 closed, assigned to nobody

[2020-10-21 16:52] sivaschenko commented on #110
There are considerations to enable even more flexible configuration - on per source level, in the scope of the inventory project.

[2020-10-21 16:54] sivaschenko commented on #106
Delivered with https://github.com/magento/magento2/pull/21932

[2020-10-21 16:54] #106 closed, assigned to nobody

[2020-10-21 17:01] sivaschenko commented on #112
It is considered to remove the SOAP API support in general, so currently, there are no plans to work on improvements in that area

[2020-10-21 17:02] #112 closed, assigned to nobody

[2020-10-22 09:18] PascalBrouwers commented on #302
Yes, please merge as soon as possible :)

[2020-10-23 13:55] sivaschenko commented on #100
Cannot reproduce this issue. Closing it for now. Please report a bug to https://github.com/magento/magento2/issues if you are still facing this issue

[2020-10-23 13:55] #100 closed, assigned to nobody

[2020-10-23 14:07] sivaschenko commented on #92
Closed based on the discussion above

[2020-10-23 14:07] #92 closed, assigned to nobody

[2020-10-23 14:10] sivaschenko commented on #153
That is already implemented for new multi-select fields based on UI components.
![image](https://user-images.githubusercontent.com/2028541/97014128-da08cf00-1541-11eb-8ead-b21938208f4f.png)

[2020-10-23 14:10] #153 closed, assigned to nobody

[2020-10-23 14:18] sivaschenko commented on #91
DTOs should not extend DataObject, however, for extensibility purposes, the DTO interfaces should extend `\Magento\Framework\Api\ExtensibleDataInterface`.

I am not sure about the need to provide extensibility for sitemap item, though.

Can you please share a use case?

[2020-10-23 14:20] sivaschenko commented on #65
Duplicate to https://github.com/magento/community-features/issues/208

[2020-10-23 14:20] #65 closed, assigned to nobody

[2020-10-23 14:24] sivaschenko commented on #66
This seems to be correct Magento behaviour. The cache is invalidated when updating entities to reflect the updates on the frontend. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.

[2020-10-23 14:24] #66 closed, assigned to nobody

[2020-10-23 14:29] sivaschenko commented on #69
Duplicate to https://github.com/magento/magento2/issues/21725 (The same solution needs to be applied for all currencies with non-default precision)

[2020-10-23 14:29] #69 closed, assigned to nobody

[2020-10-23 14:30] sivaschenko commented on #71
Fixed in https://github.com/magento/magento2/pull/16669

[2020-10-23 14:30] #71 closed, assigned to nobody

[2020-10-23 14:52] sivaschenko commented on #177
Setting priority P4 based on the collaboration activity, the priority can be revised in case there is a specific proposition on the approach

[2020-10-23 15:00] sivaschenko commented on #145
Thanks for the feature request!

We are working on improving the deployer and adding this option as well as others is on our list.

Recently the editions and extensions arguments have been added to the deployer arguments. See the documentation https://devdocs.magento.com/contributor-guide/contributing.html#customize-deployed-instances

I am closing this issue as it is not related to magento2 repos

[2020-10-23 15:00] #145 closed, assigned to sdzhepa

[2020-10-23 15:12] sivaschenko commented on #127
Authorize.net was removed from Magento core. Please use the official extension from Magento Marketplace.

https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html

[2020-10-23 15:12] #127 closed, assigned to nobody

[2020-10-23 15:23] nohart commented on #127
I am on Magento v1

Regards, Neal Hart

A Class Act Apparel

On Fri, Oct 23, 2020, 8:12 AM Sergii Ivashchenko <notifications@github.com>
wrote:

[2020-10-23 15:25] sivaschenko commented on #154
@hostep thanks for the report! Can you please elaborate on what do you mean by "overview"? Would you like it to be in the form of documentation?

[2020-10-23 15:33] sivaschenko commented on #234
The Attribute Set dropdown is now searchable
![image](https://user-images.githubusercontent.com/2028541/97023446-6e2c6380-154d-11eb-83da-404d7243fc80.png)

[2020-10-23 15:33] nathanjosiah commented on #127
@nohart Unfortunately Magento 1 has reached end of life as of June 30, 2020 (https://magento.com/blog/magento-news/support-magento-1-software-ends-june-30-2020) You can try to open an issue with the unofficial community-maintained version of magento 1 here https://github.com/OpenMage/magento-lts

[2020-10-23 15:43] sivaschenko commented on #49
Another option from https://github.com/magento/community-features/issues/89

### Problem
Magento uses the Zend_Pdf library to generate PDFs for order, invoice etc. This makes it really difficult to modify the PDF template without writing preferences to the actual classes and doing pixel-specific calculations

### Proposed Solution
The PDFs should be rendered from HTML using any tool like [dompdf](

[2020-10-23 15:44] sivaschenko commented on #89
Closed as a duplicate to https://github.com/magento/community-features/issues/49

[2020-10-23 15:44] #89 closed, assigned to nobody

[2020-10-23 16:47] Zyles commented on #234
I don't think you understood this request.

**An attribute with a textbox** should be searchable, because it can have hundreds of items. I literally screenshotted attribute set as an example in the issue.

[2020-10-23 16:48] Zyles commented on #234
Please re-open.

[2020-10-23 18:09] hostep commented on #154
Hi @sivaschenko!
Basically doing something like the module I wrote. I got a bit fed up with the entire url bug disaster in Magento and wrote a module myself in the mean time since I assumed it would take years before Magento/Adobe would start to consider something like this.
Anyway the module exists now, it works more or less ok-ish, is pretty slow, uses a lot memory, so is not optimised yet. At t

[2020-10-24 09:33] hostep commented on #302
And Composer v2 was just released 🥳
https://github.com/composer/composer/releases/tag/2.0.0

[2020-10-25 16:00] davidncuba commented on #302
Anybody fix this issue?

[2020-10-25 17:39] jissereitsma commented on #302
Quoting from https://blog.packagist.com/composer-2-0-is-now-available/ : "As for Composer 1.x, it is now more or less EOL. It will also receive critical fixes if anything comes up but the goal for everyone should be to migrate to 2.x as soon as possible."

I think therefore upgrading the Magento plugin should receive a higher priority, instead of just waiting for Magento 2.4.2 or later.

[2020-10-26 16:45] maghamed commented on #302
Hey guys, Magento Dev Guild started to work on analysis and pre-requisites for upgrade. Taking into account  the state of Composer 1, which is looks like being considered as EOL, this task got high priority. We will keep you updated on our further steps and when you can expect support of Composer 2 in Magento.

[2020-10-26 17:08] jissereitsma commented on #302
To comment on things quickly, adding the composer flag `--ignore-platform-reqs` allows for using Composer 2 already just fine. Setting the `canonical` flag to `false` seems to work nicely with some custom repositories, but in my case it was not needed for the Magento Marketplace (ref: https://blog.bitexpert.de/blog/fast-faster-composer2/)

[2020-10-26 17:19] shochdoerfer commented on #302
@jissereitsma IIRC you don't need the flag if the packages are located in just one repository source.

[2020-10-26 19:50] robolmos commented on #127
FYI the official marketplace extension doesn't state support for 2.4, and according to Authorize.Net forums, doesn't support PHP 7.3 either: https://community.developer.authorize.net/t5/Integration-and-Testing/Magento-2-4-and-Authorize-net/m-p/72784

I'm sure this is Authorize.Net's issue to resolve though.

[2020-10-26 21:30] JosephMaxwell commented on #127
I know this isn't "Authorize.net Direct Post", but we use the ParadoxLabs module (free) and it works great:
https://marketplace.magento.com/paradoxlabs-authnetcim.html

The module is updated regularly, see their [Release notes](https://store.paradoxlabs.com/magento2-authorize-net-cim-payment-module.html) tab.

Sounds like there is a problem, though, with the MagePlaza OSC. I'm not a fan of those c

[2020-10-27 03:58] bernieu2 opened #305 "Add Option to Cart Price Rule that allows Discount to be applied to Shipping Only"
Currently, there is the following option in Cart Price Rule to distribute discount amount across products and shipping "proportionally".
"Apply to Shipping Amount"
![Screenshot from 2020-10-27 13-57-21](https://user-images.githubusercontent.com/65838389/97251645-6413a900-185c-11eb-85c9-d38ae3a08146.png)

I believe this option is slightly unclear. For example, if this is selected, the invoice total

[2020-10-27 05:01] mrtuvn commented on #54
If we can login from checkout by registered phone number will be good feature i think

[2020-10-28 10:58] Zyles opened #306 "Searchable textbox in dropdown attribute"
Make the **_dropdown attribute type_** searchable, just like the attribute set dropdown.

It becomes REALLY annoying when you have 100 dropdown options to select from.

This:

![image](https://user-images.githubusercontent.com/1741593/73578301-97690900-447f-11ea-97da-83855be14914.png)

To this:

![image](https://user-images.githubusercontent.com/1741593/73578281-8ae4b080-447f-11ea-9d83-81e8914fe03

[2020-10-29 13:29] sivaschenko commented on #98
Magento team have done an internal investigation on this feature request and decided not to implement it as part of the core codebase.

The preload feature can still be used as part of server configuration setting it up with the consideration of the specifics for each individual Magento instance.

Internal Jira ticket: https://jira.corp.magento.com/browse/MC-31789

[2020-10-29 13:29] #98 closed, assigned to nobody

[2020-10-29 14:30] JosephMaxwell commented on #98
@sivaschenko Would you share some more reasoning as to why? #1 Magento complaint is performance and it _appears_ as if this feature will help mitigate this problem.

[2020-10-29 14:44] sivaschenko commented on #98
@JosephMaxwell I believe it was based on the possible performance benefits comparing to efforts of implementation and maintaining the solution, and also the fact that preload feature can still be utilized without adding a specific preload script to the magento codebase (https://github.com/magento/community-features/issues/98#issuecomment-481635316)

[2020-10-31 09:35] ilnytskyi commented on #98
@sivaschenko
Wy the core team would not share some info and guidelines on how to build the preload file for magento. We know that preloading everything is not the best way to use this feature.
Some recommendations would be very useful like: load everything from `root/generated` and `vendor/magento/framework`; this tool can help you to find "hot" files that you should preload; or something.
Just cl

[2020-10-31 21:32] ettoredn commented on #98
Why preloading everything is not acceptable?

[2020-11-02 16:34] sivaschenko commented on #234
@Zyles got it, sorry!

[2020-11-03 10:45] sivaschenko commented on #306
Duplicate to https://github.com/magento/community-features/issues/234

[2020-11-03 10:45] #306 closed, assigned to nobody

[2020-11-03 13:49] jtalel opened #307 "Magento 2 Search won't work when symbols are used"
### Description (*)
We sell automotive tires. Most of this products name come with symbols:
-7.50R16
-11.00R20
-185/60R14
When We try to search by products name most of the time results are inaccurate or no results are shown.

It seems to me when you search usign symbols magento reads them as a separation. The thing is with some sizes like 7.50 or 11.00 it will attempt to search EITHER 7 OR 50 ...

[2020-11-03 16:51] dfelton opened #308 "\Magento\Framework\Filesystem\Io\Sftp"
~~We currently have a `\Magento\Framework\Filesystem\Io\Ftp` class. And this does support `FTPS` connections, but does not appear to support `SFTP` connections.~~

~~Currently, per the coding standards, direct usage of `ssh2_*` functions is discouraged, with no alternatives offered.~~

It would be nice if `\Magento\Framework\Filesystem\Io\Sftp` supported authenticating with public / private key-pa

[2020-11-05 16:06] ihor-sviziev commented on #9
Basically this feature request was already implemented
- ✔ implemented in https://github.com/magento/magento2/pull/26778 (thanks @vinai and @lbajsarowicz),
- ✔ documentation updated in https://github.com/magento/devdocs/pull/6901 (thanks @lbajsarowicz)
- ✔ new controllers should not use inheritance - enforced by static test in https://github.com/magento/magento2/pull/29339 (thanks @swnsma).

The o

[2020-11-05 21:20] hostep commented on #302
Another interesting PR which could serve as inspiration: https://github.com/Cotya/magento-composer-installer/pull/192

[2020-11-06 08:17] Vinai commented on #9
Migrating controllers would be an unnecessary backward compatibility break.
Why not keep them the way they are, and only enforce new ones to use composition?

[2020-11-06 09:54] ihor-sviziev commented on #9
@Vinai I would agree with you that migration of all controllers might be not necessary, but I'm strongly believe we should have good examples as much as possible in order to show to extension developers how to use controllers without inheritance and that it's best practice.

Also for some controllers it might be really needed, for instance for controller that handles ESI requests from varnish.

[2020-11-07 21:56] sivaschenko commented on #208
Moved to magento2 repo for development https://github.com/magento/magento2/issues/30809

[2020-11-07 21:56] #208 closed

[2020-11-10 17:40] scottsb commented on #302
@jissereitsma What you describe sounds like it would allow Composer 2.0 commands to complete, but does Magento seem to  be running reliably after being installed that way? Per magento/zf1#29 that @hostep pointed out initially, it seems that certain required files may not get autoloaded correctly. (On the other hand, that particular class doesn't appear to actually be used by Magento, so the warnin

[2020-11-10 20:02] jissereitsma commented on #302
@scottsb I'm not an authority here. I always thought the Magento Composer Installer added nothing more than an optional `extra` section in the `composer.json` file, but reading through its contents, I can also see that perhaps some language packs or themes installed via composer might have issues. However, I thought this was handled by the `registration.php` calls already ... Someone would need to

[2020-11-12 05:25] milindsingh commented on #271
I have created a Magento module to enhance the UI grid features.
The refresh component is ready and added to the order grid by default.

Simply install: `composer require adapttive/advance-grid`

Check: https://github.com/adapttive/advance-grid

[2020-11-13 05:52] akshitagupta15june opened #309 "Request to join the organisation."
I would like to contribute in this organisation.

[2020-11-13 05:58] akshitagupta15june commented on #309
@magento-admin

[2020-11-13 14:22] gsa83 opened #310 "Visual Merchandiser - Improvement proposal"
Hello @magento-admin ,

The current possibilities of the Visual merchandiser are too limited to be really acceptable by any business team managing a big catalog with Configurable products. Based on the usage of multiple alternative solutions, I warmly recommend you to improve it this way  :

Issue #1: The Visual Merchandiser product grid should enable a business team to organize only the "catalog,

[2020-11-17 04:53] JayantGoel001 opened #311 "I want To Join this organization."

[2020-11-18 17:06] kandy commented on #255
Support of S3 (other blob storage can be added as well)  was added to Magento Core so I close this ticker as resolved.
Please pay attention that it was implemented on FileSystem level, and we think about deprecation of MediaStorage module

[2020-11-18 17:14] sidolov commented on #255
I'm closing the issue since it's already implemented.

[2020-11-18 17:14] #255 closed, assigned to nobody

[2020-11-18 17:29] dfelton commented on #308
Not sure how I missed this but the [Sftp](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Filesystem/Io/Sftp.php) class has existed for half a decade now.

Reviewing the code however, I do see the `Sftp` class is lacking the ability to specify a private SSH key, as the [open](https://github.com/magento/magento2/blob/180de0ab6d6e29deee123baed1d8f20f2324180a/lib/i

[2020-11-22 20:13] dfelton commented on #309
@akshitagupta15june Anyone can open issues, and pull requests to the public repositories of Magento. To the best of my knowledge the way to become a member is to simply start contributing. I was given "member" status after having made a few contributions to the repositories, never having actually requested it.

[2020-11-23 12:33] lewisvoncken commented on #126
@peterjaap , @jahvi

What about this solution which is possible in Shopware?

[code]

[2020-11-23 18:23] gavinhoman commented on #23
This MySQL command removes the store level gallery sort order / positions and they then observe the 'default/global' sort order. It needs a full-page cache flush to notice the effect on the frontend.
If you subsequently edit a product on a certain store view, it can be any attribute like a description Magento will still duplicate the default store order for the media gallery and create one for tha

[2020-11-24 09:19] GuillaumeBrook opened #312 "Customer grid - Alt+click to edit customer"
Hello,

Currently, if you click in the customer grid on a row, you aren't redirected to the edit customer page, you can edit the customer directly in the grid.
You have to click on "View" to go on the customer page.
The problem is that with custom columns added, or even small screens I guess, you can't see "View" and you have to scroll horizontaly to the right. Actually one could move the column t

[2020-11-30 21:33] #311 closed, assigned to nobody

[2020-12-02 07:26] mrtuvn opened #313 "Split css styles to certain page instead include in one to improve page render"
This feature i think should have in core. Current when user visit homepage some styles included but never used
Such as class checkout-*, customer-account-*

Example
cms home
cms_index_index.xml
we will have common.css + cms.css

catalog_product_view.xml
we will have pdp.css

Category
catalog_category_view.xml
we will have category.css

[2020-12-03 02:11] tschirmer opened #314 "Community Lead / Maintained Unit Testing on github pull request"
Hey Guys,

I'd love to start a small community group that maintains the unit testing for Magento 2, and enforces that on github merges.

My company https://storebase.io/ is seeing a huge amount of Magento 2 github issues that don't get resolved or get pushed to the backburner, and many many of them, would be easily resolved with unit testing.

Would love to gauge support for this, and see what con

[2020-12-03 19:31] JosephLeedy commented on #302
Any updates on the status of this issue?

[2020-12-04 01:13] PivitParkour94 commented on #314
Created a github project and slack workspace so we can start collaborating and getting things done. https://github.com/MageComm-Testing-Developer-Team

[2020-12-04 13:56] sivaschenko commented on #302
@JosephLeedy The implementation is in progress, I believe Composer 2.0 support is part of 2.5 release scope.

[2020-12-04 14:02] JosephLeedy commented on #302
In my humble opinion, 2.4.2 or 2.4.3 should be the target for this. Waiting until 2.5 is just way too late in the game.

The biggest issue that I am seeing right now is confusion with new developers on the right version of Composer to install. By default, the Composer installer installs 2.0, but when they try to install Magento for the first time, they get compatibility errors. They then have to f

[2020-12-04 14:14] markshust commented on #302
When is 2.5 due to be released? I didn't see it in the list of planned releases.

[2020-12-04 19:30] shochdoerfer commented on #302
Just for the sake of completeness: The Composer 2.0 upgrade will not only be good for us users but also for the infrastructure. Composer 2.0 consumes a lot less bandwidth. Jordi and Nils have highlighted this in their talk at Symfony world: https://twitter.com/velmu/status/1334807052263284737

[2020-12-07 17:04] hostep commented on #302
@sivaschenko or @maghamed, out of curiosity: is there code inside Magento core itself which is incompatible with composer version 2?

If not, then only the composer plugins Magento uses needs to get updated and we don't need a new Magento version at all. We could then in theory use composer version 2 on older Magento versions as well which would be awesome.

@markshust

From what I understood from

[2020-12-10 09:55] davidwindell commented on #181
We've just come across this issue (customer's complaining about exports not working), turns out it was the consumers running in the old deployment release directories and creating the files in the wrong root folders.

Our fix for now is a quick `killall php` after deployment, but it's messy.

[2020-12-10 11:27] hostep commented on #181
@davidwindell: we do something like this: https://github.com/davidalger/capistrano-magento2/issues/133#issuecomment-537158716
Also messy, but a little bit less messy 🙂

Magento should really implement something easy we can call with the command line, like proposed in https://github.com/magento/architecture/blob/master/design-documents/asynchronous-operations/consumer-processes-improvements.md#prob

[2020-12-10 14:28] davidwindell commented on #181
Thanks so much @hostep this inspired me to replace the killall with:

`pgrep -u "$(whoami)" -f "[q]ueue:consumers:start" | tee /dev/stderr | awk '{print $1}' | xargs -r kill`

In our Deploybot config :+1:

[2020-12-18 22:52] arielcugenotta commented on #160
Hi @markjuliusuy

I have the same problem (Magento 2.4.1).
If I create the invoice using this:

$invoice = $this->_invoiceService->prepareInvoice($order);
$invoice->register();
$invoice->setState(\Magento\Sales\Model\Order\Invoice::STATE_PAID);
$invoice->save();
$transactionSave =$this->_transaction->addObject(
	$invoice->getOrder()
);
$transactionSave->save();
$this->invoiceSender->send($invoice)

[2020-12-19 20:31] xpoback commented on #160
@BushraAsif yes, it's only with the unshippable products.

@arielcugenotta it's bug, the code is correct. You can use the fix below with a plugin or a preference (like I did).

This has been fixed in 2.4-develop
https://github.com/magento/magento2/commit/4f90cf54c303bdcb3de6d010a63fb8af87d46eec

[2020-12-25 12:16] vmalyk opened #315 "GraphQL for ProductAlerts module"
I see Magento have done a lot of work regarding cover all Magento community features by GraphQL. But I see 1 feature has't covered - it's Product Alerts subscriptions and notify customer about back to stock and change price. It'll be great to get these mutations:

[code]

[2020-12-26 18:21] vmalyk commented on #315
@magento I am working on this

[2021-01-05 02:45] adarshkhatri opened #316 "Ability to attach files (pdf, png, jpg) with email transportation"
Would love to have this feature where we can attach files (pdf, png, jpg) with any email transportation.

Most importantly send invoice pdf as an attachment with an invoice email.

Wondering, why Magento 2 doesn't include this functionality?

[2021-01-05 14:29] mrtuvn commented on #316
I believe there are a lot third-party extensions out there support this. But official support will be great
Fooman emailattachments is one of good one i will suggest

[2021-01-11 00:17] PivitParkour94 commented on #215
Is there any further hold ups to this being done?

[2021-01-11 11:23] YiffyToys opened #317 "VAT rules based on value (for UK after Brexit)"
Since 2021-01-01 good imported to the UK require the seller to pay UK VAT if and only if the value is <136 GBP.

Source: https://www.gov.uk/government/publications/changes-to-vat-treatment-of-overseas-goods-sold-to-customers-from-1-january-2021/changes-to-vat-treatment-of-overseas-goods-sold-to-customers-from-1-january-2021

The currene Magento2 tax rule system can make an exception for northern i

[2021-01-27 16:49] hostep commented on #302
I'm going to close this ticket since composer v2 support will land in Magento 2.4.2 which is going to be released on 9 February 2021.
I can already confirm it works in the pre-release they made available yesterday to partners.

If somebody is interested in getting composer v2 support on older Magento2 versions, you can try the following instructions in https://gist.github.com/hostep/26de0bf2bb695e

[2021-01-27 16:49] #302 closed, assigned to nobody

[2021-01-28 01:54] nj commented on #243
Seems like it has been handled in https://github.com/magento/magento2/commit/7400615 :+1:

[2021-01-28 09:48] kassner commented on #302
This means Magento 2.3 will be running with an unsupported version for over a year, which I believe warrants having this ticket open for a little while.

[2021-01-28 09:57] hostep commented on #302
@kassner: @maghamed told me on Slack that compsoser v2 support will most likely come to Magento 2.3.7 as well (release date: [11 May 2021](https://devdocs.magento.com/release/))

[2021-01-29 08:09] hostep commented on #317
Also see:
- https://github.com/magento/magento2/issues/31746
- https://github.com/magento/magento2/issues/31745

[2021-01-29 08:14] YiffyToys commented on #317
31746 seems to match, Thanks.
31745 is something else entirely.

[2021-01-29 08:14] #317 closed, assigned to nobody

[2021-02-24 15:55] Eddcapone commented on #302
Magento 2.4.2 is still missing support for composer 2. I get:

[code]

It works with composer 1

[2021-02-24 15:57] JosephLeedy commented on #302
Make sure that your dependencies in `require-dev` are correct.

[2021-02-24 16:06] Seldaek commented on #302
@Eddcapone you have a require on `dealerdirect/phpcodesniffer-composer-installer` `^0.5.0` which as per semver treats 0.x versions as major, so it does not allow upgrading past 0.5.x. Make sure you change that to `^0.7` to get the composer-2-supporting release.

[2021-02-24 18:20] Eddcapone commented on #302
@Seldaek , thank you. it works now!

[2021-03-04 19:54] torhoehn opened #318 "Using existing images while using a remote storage (S3)"
With the release of Magento 2.4.2 [remote storages](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html) where introduced.

# Current state for adding a product image
- Image will be uploaded in admin UI or passed as base64 encoded image via API.
- Image will be saved on configured remote storage.

# Issue
- External system (e. g. PIM) is already using a

[2021-03-05 18:41] damienwebdev commented on #240
Related to:

https://github.com/magento/magento2/issues/30820
https://github.com/magento/magento2/issues/29922
https://github.com/magento/magento2/issues/26112

[2021-03-06 16:11] in-session opened #319 "Custom widget insert additional components"
Hello together,

I would wish that the custom widget from the core should already have better functions.

Currently the following components are in the core:
- text
- select
- multiselect
- block

Desirable would be the following:
- image chooser field
- TextArea
- TextArea Wysiwyg

This would create a possibility to insert smaller widgets without creating any modules or have an page builder.

![A

[2021-03-06 16:32] in-session opened #320 "Image Resizer should be in Core"
Hello together,

it is really a tiresome topic to reduce images in template or modules to a certain size.
There are countless helpers that would not be necessary if this was already in the core.

[code]

As a rough example
[code]

Thus it would be at least possible to reduce the images on each module simply

[2021-03-06 17:44] in-session opened #321 "There should be a new additional head block"
Hello together,

there should be a way to call a critical block in the head, as an example head.critical, similar to head.additional

For what would this block:
- For improve the Time to First Draw (TTFD) of the web page like inline css but which is above the CSS files.
- For critical areas which cannot be covered by default_head_blocks, like <link rel="dns-prefetch" href="https://fonts.gstatic.co

[2021-03-06 21:22] mannebusk commented on #9
Was using "controller_action_predispatch" to forward requests, by doing something like this
[code]
This does not work any more since the event dispatching was moved to a plugin.

Before, the original matched actions `execute()` was never run, because it checked if request was dispatched before running it. Now `execute()` is always run.

Just wanted to report, in case it wasn't intentional to break

[2021-03-07 01:08] mrtuvn commented on #9
Have you test your case again in latest code branch (2.4-develop github). New approach no-longer used plugin for event dispatch
`controller_action_predispatch`

[2021-03-07 01:16] mrtuvn commented on #321
Why do you need customise it in root template. Default it's added via layout in theme module + viewModel
 https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Theme/view/frontend/layout/default_head_blocks.xml#L16
critical css file will add to between head tag. You don't have to modify root template to add this file. Magento already do it
Make sure add file critical.css in your th

[2021-03-07 06:18] in-session commented on #321
Yes that's right, it was perhaps not quite explicitly expressed. As an example if you want to build critical yourself, I have in the case all CSS of modules and styles manually moved via a template in the non-critical area before.body.end (or reloaded via loadCss). So that only the default style.less is in the header. But at the first request of the page style-m.css is loaded, if you work here wit

[2021-03-08 07:15] mrtuvn commented on #321
Default magento don't have such task (grunt/gulp) for build critical you have to do it with your own tools. It's would better if this task support by default feature included in codebase
critical file only available in luma theme only
![Screenshot from 2021-03-08 14-36-44](https://user-images.githubusercontent.com/1908873/110289315-d622a880-801b-11eb-9df6-41005411a67f.png)
Above demo is instance m

[2021-03-08 08:24] in-session commented on #321
Yes the generation of the critical css must be done via a tool or manually, like:
- https://jonassebastianohlsson.com/criticalpathcssgenerator/
- https://github.com/filamentgroup/criticalcss
---------

Yes that's true, but let's assume you don't want to move the CSS, but still want to have critical styles inline before that is not possible without a custom module. Sorry I don't have a demo instanc

[2021-03-08 09:48] in-session commented on #320
It would be a simplification for everyone to implement something like this instead of using a helper for it every time.
Also it would simplify some things with the cooperation of external modules, as an example, most modules for image compression or webp converting works on media folder base. Accordingly, static images are not converted, with this solution it would also be possible to insert image

[2021-03-08 10:20] mrtuvn commented on #321
default magento css not well-optimize as my opinion but if you want more than that you can take a look at theme
creative-shop  by magesuite. They optimized their theme base on blank magento but use latest modern tech (Webpack for split css to individual file base on current page you visit instead wraps all in one) + sass styles. Many more
https://github.com/magesuite/theme-creativeshop

[2021-03-08 10:37] in-session commented on #321
Thanks for the info I already know magesuite :-) And it is actually also about building an own theme and to give here the possibility of optimization without the extends of controllers or on the access of third themes.

[2021-03-23 00:09] bahoo opened #322 "Admin Support for Multishipping?"
Hello,

Does Magento 2 plan to offer first-class support for mutlishipping via the admin?

Best,

Jon

[2021-03-25 14:42] kanevbg opened #323 "setup:di:compile to utilize multiple cores"
In order to speedup the compilation process during builds

[2021-03-29 06:36] denchev opened #324 "catalog:product:attributes:cleanup to include a --dry-run option"
The command `catalog:product:attributes:cleanup` is very untransparent. There is no way for a customer to see what the end result would be. It could wipe out something that is not really meant to be clean.

My suggestion is to add a "--dry-run" option that will display a list of attributes that will eventually be cleaned up if run without it.

[2021-04-03 14:09] n2diving-dgx opened #325 "No two factor authentication (2FA) option available to customers to secure their account login"
M2.3 includes an optional 2FA extension to further secure back-end user logins and with M2.4 a fully integrated 2FA was made required for back-end login.  However, front-end customer logins still do not natively offer a similar 2FA option.  There appear to be no third party extension solutions available from trusted Adobe certified partners, although there are a couple of "freeware" extensions pub

[2021-04-05 20:27] milindsingh commented on #240
@zetlen This really needed! We are developing PWAs for so long and the basic feature for token refresh is missing in Magento.

I would really like to work on it if anyone can guide me?

[2021-04-05 20:36] damienwebdev commented on #240
@milindsingh https://github.com/magento/magento2/issues/30820#issuecomment-799200073

[2021-04-08 19:34] hcmlopes commented on #285
I would like this feature as well

[2021-04-22 06:00] sanganb commented on #169
If any solution for this issue please let us know
priority:p1

[2021-04-25 10:44] iphigenie opened #326 "Wysiwyg HTML tags to allow"
TOPIC: what should wysiwyg allow?

I am increasingly getting warnings that wysiwyg is "temporarily" allowing certain tags, and this of course worries me that at some point these will get locked out.

One option is that this is made extensible/editable in an official, documented manner (that isn't overwritten by releases), the other option is to have a discussion and get these lists extended?

###

[2021-04-25 23:37] iphigenie commented on #326
am looking at extending first through a module to test, then I'll submit an extension to DefaultConfigProvider et al

also https://github.com/magento/magento2/issues/28698

[2021-04-26 13:23] iphigenie commented on #326
my module is Alpine/AlpineCustom but it'd go in CMS I suppose.

I couldn't find anything preset for extended_valid_elements for CMS (it exists for attribute editor form) but I'm going to check deeper - the idea should be to have a config that allows choosing?

js plugin files uploaded to lib/web/tiny_mce_4/plugins/iconfonts

a di.xml for adminhtml

[code]

the plugin ExtendDefaultConfigProvider.ph

[2021-04-26 23:00] mrtuvn commented on #326
I think better add plugin after to `getConfig` method of this interface `Magento\Ui\Component\Wysiwyg\ConfigInterface` if you want to add additional behavior

[2021-04-26 23:08] mrtuvn commented on #326
This property used previously for Tinymce3 and now magento core still use it for init tinymce form in backend. I think this point allow we add element we can use in wysiwyg tinymce.
But in tinymce4 used in magento 2.3+ you also can use `extended_valid_elements` or `invalid_elements`. Default magento not allow you add these property in js but you can add some mixins or override js file below in you

[2021-04-28 15:48] manuelcanepa opened #327 "Order grid with advanced joins"
# Description
In order to add extra data to the `sales_order_grid` table, magento provide a way through `di.xml` extending the virtual type `Magento\Sales\Model\ResourceModel\Order\Grid` and adding `columns` or `joins`. In the `joins` case, there is no way to chage the main table. If the module has only one table to join with `sales_order` there is no problem, in case we have a multiple tables rel

[2021-05-04 17:39] iphigenie opened #328 "There should be more than one grouped product and one bundle in demo data"
Jaw dropping bugs keep happening to bundles (2.4.2 broke prices of fixed price bundles) and there are still functionality gaps around grouped products (there are paging issues, layered navigation issues, review issues).

Part of the reason this happens is that there is only one grouped product and only one bundle - we are not covering all the possible types of bundles dynamic/static combinations,

[2021-05-19 19:11] eperezbanana commented on #240
we actually really need this, is anyone working on it?

[2021-05-24 11:14] MackieeE commented on #270
- WebP was added to Safari 14.
- Edge has support for Webp, thankfully Microsoft announced the end of [IE11 this week](https://death-to-ie11.com/).

In otherwords, there's global support for this now (:

[2021-05-24 11:15] mackieee commented on #228
- WebP was added to iOS for Safari 14.
- Edge has support for Webp, thankfully Microsoft announced the end of [IE11 this week](https://death-to-ie11.com/).

In otherwords, there's global support for this now (:

[2021-05-25 14:15] iphigenie commented on #328
Hi bot

Just recording my willingness to give a few hours to create missing products of those types so we can test properly out of the box

[2021-05-28 00:05] LiamKarlMitchell commented on #23
Hi, kindly requesting if there is an update for these fixes or a backport for Magento 2.3.2..

[2021-06-21 13:59] indykoning opened #329 "Default nginx.conf.sample allows ddos on the image resize module"
In the folowing commit the new image_optimization_parameters option has been added with some new nginx configuration to accompany it.
https://github.com/magento/magento2/commit/640cad53009b291334234ccd61ab79f256b43da2#diff-157d2bc558ce473e66e013bb30759e55fe32bc9277626ec1f70bb60bb558296fR144

This configuration accepts any width and any height without checking the source of the request.
This makes

[2021-06-22 11:11] theodorhanu commented on #160
@magento-engcom-team give me 2.4.2-p1 instance

[2021-06-22 11:25] theodorhanu commented on #160
@magento give me 2.4.2-p1 instance

[2021-06-23 06:06] studiocodeur commented on #31
This works!!!
It's a weird one but saved me having to code up an extension...!!

[2021-06-25 18:18] moranotcsos opened #330 "Fedex - Free Shipping Threshold - Excluding Tax"
On Magento 2, if you use the built-in FedEx carrier's Free Shipping Threshold, it uses the subtotal including tax and there is no option to exclude tax.

It would be useful to be able to set whether it includes or excludes the tax for the threshold.

**Steps to Reproduce**

1. Create a product with the price 4.99 and tax class of Taxable Goods.
2. Setup a tax rule that applies to Taxable Goods.
3.

[2021-07-06 22:49] rafaelstz opened #331 "RMA Exchange"
The current RMA workflow doesn't allow to have exchanges, it predicts just Refound and Credit Memo today. It would allow merchants to select items to exchange instead of creating a credit memo and a new order.

![Magento 2 RMA Workflow](https://docs.magento.com/user-guide/images/images/workflow-customer-returns.png)

https://docs.magento.com/user-guide/sales/returns.html

[2021-07-26 04:29] mrtuvn commented on #326
Current we have some solutions from external repo
https://github.com/betagento/Editor
https://github.com/magefan/module-wysiwyg-advanced

[2021-07-28 15:18] alexvais commented on #240
Right now is not there way to refresh the customer token authorize with the same token?

how you can build an APP without refreshing the token?

Supposing that in the APP you logged in just one time forever.

[2021-08-03 12:42] amjadm61 commented on #179
any update on this?

[2021-08-08 10:07] vbidou opened #332 "Add Currency Import Date into Currency Rates"
Hello my friends,

This one is not an issue but an idea.
Could it be possible to add, in future release, the imported dated of the currencies?

This item is missing into v2.3.7 and I think it could be very usefull for the user to control that all automatic currency import (with fixer.io or whatever) are working correctly. I guess it wouldn't be difficult to do but would be very handy feature.

Tha

[2021-08-11 08:27] oehmiche opened #333 "Make length-validation configurable for admin password creation"
Hello,

for customer accounts the minimal length of a password is configurable in the admin UI (see Stores > Configuration > Customers > Customer Configuration)
<img width="800" alt="customer-length-validation" src="https://user-images.githubusercontent.com/172753/128994954-3e1d8887-f394-4397-a2ea-f603215090b0.png">
For admin users this validation is hardcoded in the javascript code (see `vendor/m

[2021-08-14 08:21] in-session opened #334 "Page Builder resize image"
With the launch of Page Builder 2.4.3 for CE, I still wonder why no resizer for the images has been implemented yet.
Also for the use of Adobe Stock images it would be really useful to integrate this in the core.
Although the images can be selected from the gallery, also for the mobile display, but the setting of the image size in the frontend are not possible.

Here it would be very helpful if at

[2021-08-14 15:28] in-session opened #335 "Page builder links with additional parameter"
One of the bigger problems for the editor in the admin area is that the links unfortunately do not match again and again.

The main problem is when creating links that require a direct parameter or anchors, this can be done by Magento only a link with its own URL:
![image](https://user-images.githubusercontent.com/16542619/129451012-442420f3-0a5d-4202-9efb-26201e7467ac.png)

Basically there is the

[2021-08-23 05:56] in-session commented on #335
Copy to https://github.com/magento/magento2-page-builder/issues/770

[2021-08-23 06:05] in-session commented on #334
Copy to https://github.com/magento/magento2-page-builder/issues/767

[2021-08-25 11:17] Sartoric opened #336 "Add the possibility to append additional validation callbacks in Magento\Config\Model\Config\Backend\File"
### Description (*)

Consider the case of a custom file upload.
We can extend the File class and add, let's say, a specific file extension via _getAllowedExtensions
Why we shouldn't be able to add one or more callbacks for validations too ?
At the moment the only way to do it, it's to completely override the beforeSave() function as we have no method (or property) we can use to set an array of add

[2021-08-27 08:26] onlinebizsoft commented on #181
I don't see any problem in this case? I mean we can let the consumer running until new message comes, do you see any problem with this? @hostep

[2021-08-28 11:01] hostep commented on #181
There's a pending PR with a solution for this BTW: https://github.com/magento/magento2/pull/31495

@onlinebizsoft: so far we haven't seen big issues with this new solution (which we've patched into some of our shops), besides the process using a bunch of memory, but that's about it.

[2021-09-05 15:24] lucassamual opened #337 "Address"
I need a format address that i can give my client now

[2021-09-05 19:58] DmitryFurs commented on #337
@lucassamual try this https://docs.magento.com/user-guide/customers/address-templates.html

[2021-09-12 11:00] ProxiBlue commented on #126
Ok, although this ticket has been moved to feature requests, but since i is still open, I will post my 2c and workaround.

First having separate config.php files like this becomes a bit of a nightmare, as you end up with out-of-sync base modules that are enabled/disabled, and it becomes a nightmare to manage.

The trick is to keep one config.php, version controlled.
Then exclude env.php from versi

[2021-10-02 00:45] onlinebizsoft commented on #126
I think the best practice is following what Shopware is doing. Having different files make it hard for maintance.

[2021-10-19 12:07] Wutzl commented on #23
any idea when this will be fixed? Makes it extremely inconvenient to manually change images for a product in a shop with a large amount of store views...

[2021-11-10 11:10] mackieee commented on #23
This issue is destorying my ability to have automated image management for multiple store fronts :(

[2021-12-08 08:20] mohdaali27 commented on #240
Any update on this ?

[2021-12-09 05:32] engoory opened #338 "OAuth 2.0 and OpenID support"
One of the biggest problem for integrations is that Magento 2 supports already depreciated and insecure OAuth 1.0 instead of 2.0. On top of that, OpenID would helped third party apps to be securely integrated to Magento 2 increasing security and transparancy.

Its also adviseble to add in support Keycloak, Simplesamlphp (It has OAuth 2.0 and OpenID plugins) and also Gluu server as open source iden

[2022-01-28 10:55] kayoslab commented on #240
Is there any progress on this topic? I am looking into this for a mobile app, which is supposed to access the Magento API.

As stated in the [authentication methods documentation](https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication.html#web-api-clients-and-authentication-methods) "Registered users use token-based authentication to make web API calls using a mobile

[2022-01-31 14:58] electroidru commented on #240
I'm one more person who agreed with @kayoslab and @zetlen that without proper json web token-based authentication which should include authentication and refresh tokens, currently magento 2 token-based authentication is useless.

The only way I see is to implement custom module for JWT and extend current rest api with new endpoints.

[2022-02-01 21:43] fredden commented on #45
This was implemented in https://github.com/magento/magento2/pull/25860 which landed in Magento version `2.4.0`.

[2022-02-11 17:32] Vinai commented on #240
Regarding JWT this is still as current as back when it was written 5 years ago:
https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid

[2022-02-12 10:57] electroidru commented on #240
I don't think that't directly related. It's just claim to use cookie over https. However if we are talking about mobile app development as example there's cookies isn't usable. If you need more security you can implement Proof Key for Code Exchange for example (https://datatracker.ietf.org/doc/html/rfc7636).

Anyway I don't mind if another format will be used, but with proper OAuth2 protocol where

[2022-04-06 12:09] JelleGe commented on #210
Is there any update on this issue? We face the same issue in The Netherlands with 21% VAT

[2022-04-22 13:14] kunzi opened #339 "EU VAT Number in shipping address should be used to determine if VAT should be included(?)"
Currently in Magento documentation they instruct to create an Intra-EU tax class with 0% Tax rate for customer group of Intra-EU customers. Tax calculation is set to be based on Shipping Address. Customer is put to the Intra-EU customer group if the Tax number given in registration is valid. It will then show the prices correctly without any VAT / taxes.

If customer then adds an address at the ch

[2022-05-12 12:55] kanevbg opened #340 "No Store View Switcher on Backend Product Grid"
https://github.com/magento/magento2/issues/7731

[2022-05-26 09:43] yeras-is commented on #240
Hey Magento team, it's 2 years since began on this issue, any updates?

[2022-05-26 09:48] yeras-is commented on #240
@real34 @medigeek @andimov

[2022-05-27 11:35] manavluhar commented on #340
@magento give me 2.4-develop instance

[2022-07-03 14:58] bamboekeizer opened #341 "Ability to include invoice date and order date in invoice transactional emails"
To comply with EU regulation, one must place the date of an invoice for an order on the invoice. In magento 4, this is not possible for emailed invoices.

We would like to have the ability to include the date of the order and the date of the invoice on the transational emails.

[2022-07-13 09:02] sunilit42 commented on #98
@JosephMaxwell  @ilnytskyi
https://github.com/MonogoPolska/monogo-m2-preload

can we use this package for preload? I tried to add that script and works fine for me

[2022-07-13 17:19] rifferte1800 opened #342 "Add Splunk to Fastly Real Time Log Streaming Options"
Currently, Splunk is not a supported real-time streaming endpoint directly supported through the Magento Admin.

<img width="655" alt="CleanShot 2022-07-13 at 13 18 52" src="https://user-images.githubusercontent.com/84349248/178792872-e46ae9c5-ca7e-4f87-b298-302b403eaf29.png">

While I was able to set this up through the Fastly API, utilizing the form on the admin page would have been much easier.

[2022-07-15 18:45] ryanisn commented on #23
Who would vote for an option to force image scope to be global only? If you don't even need to manage different images in store scope.

[2022-07-29 17:11] YekaMX commented on #24
Hi,
I'm not a developer, but i'm interested in change that behavior, can anyone try this?

https://www.youtube.com/watch?v=8_jthVC0a7s&ab_channel=RoelVandePaar

Thank you!

[2022-09-20 15:53] timothyk0908 commented on #240
Any updates ?

[2022-09-20 23:55] damienwebdev commented on #240
This issue will likely only be closed if an external contributor creates a 3rd-party open source package.

[2022-10-04 00:41] tschirmer opened #343 "CheckSum for all Entities within core entity table"
We're finding syncing can be quite a task because we need to fetch all records with large joins on the database to see what's changed. Without webhooks, or creating a module the api requires a fetch of all products to determine if an update's needed.

If all objects (orders, products, attributes, attribute values, etc.) would have a type of checksum or hash to check against, we could save a huge a

[2022-10-17 22:01] fredden commented on #215
We have installed this module on our websites to allow admin users to reset their own UI bookmark cache.
https://packagist.org/packages/element119/module-reset-bookmark-ui

[2022-10-21 02:02] PivitParkour94 commented on #215
@fredden that module looks like a good workaround, but this issue was really to have Magento address the issue in the core product. It's been 3 years and no real communication has been made, so I'll just give up trying to suggest changes (I'm not even using Magento in dev anymore)

[2022-10-21 15:53] thomas-kl1 commented on #215
@PivitParkour94 please don't close this unless it's shipped in Magento core

[2022-10-23 01:02] maxlussier commented on #173
As of October 2022, I haven't seen any pull-request related to that feature in the magento/magento2 git repository.

I strongly believe that this feature should be part of the core. I'm posting this to indicate that I am working on this.

[2022-10-23 01:04] maxlussier commented on #173
@magento I am working on this

[2022-10-23 10:18] fredden commented on #215
I agree; let's keep this open until it's actually resolved in the core product. Having a third-party work-around is great in the meantime, but doesn't solve the problem that is described in this feature request.

[2022-10-26 01:11] PivitParkour94 commented on #215
Agree, I have just lost hope that Magento will do anything about it. If anything me closing this just demonstrates that. I no longer make any issues on the magento github because they just get brushed off. It's disappointing

[2022-10-26 07:31] thomas-kl1 commented on #215
@PivitParkour94 also the issue is tagged for 2.5, however Adobe didn't planned to release 2.5 in 2023 😢

[2022-11-07 22:42] snico-dev commented on #213
Please someone can help me with this feature? I had same issue

[2022-11-30 11:38] Thomas-Harvey commented on #139
@Zyles, definitely not just you.

Something that would make my life significantly easier at the moment.